[2015-07-20 01:29] harsha2010 opened #13 "Create and Push Spark Packages"
I have added some scripts to make spark packages and have pushed the first Magellan Spark Package to spark-packages.org
It would be good to independently verify this packaging is working correctly.

[2015-07-20 01:32] harsha2010 opened #14 "Support common geospatial predicates"
Currently we support intersects, within and contains (though contains is supported by a weird >? operator since contains is a keyword)
Other common predicates include:
Touches, Disjoint, Crosses, Overlaps, Equals, Covers

[2015-07-20 01:34] harsha2010 opened #15 "Support common geospatial operators"
Currently we support intersection and Shape assembly as the only supported geospatial operators.
Other common ones include:
Union, Distance, Intersection, Symmetric Difference, Convex Hull, Envelope, Buffer, Simplify, Polygon Assembly, Valid, Area, Length

[2015-07-20 01:35] harsha2010 opened #16 "Support Spatial Joins"
Currently we override TableScan and are not able to take advantage of Catalyst optimizer to use Spatial Joins.
Some work is needed to refactor the SpatialRelation to override CatalystScan and use custom strategies to induce spatial joins on predicates that act on geometries.

[2015-07-20 21:24] harsha2010 opened #18 "Upgrade to Spark 1.5"
Spark 1.5 adds a null safe eval and codegen methods to Expressions, and also turns codegen on by default.
Currently these are breaking changes at runtime that don't allow Magellan compiled on Spark 1.4 to run on Spark Master. When Spark 1.5 comes out, we need to upgrade Magellan so that it can run on Spark 1.5.

[2015-07-20 22:06] andrewor14 opened #19 "Ensure examples in README and Wiki actually run"

[2015-07-21 01:47] andrewor14 opened #20 "Cannot import magellan.Point in pyspark"
I ran magellan with the pyspark shell as the [wiki](https://github.com/harsha2010/magellan/wiki/Python-API) instructs:
[code]
then ran into
[code]
Looks like the python path is hardcoded somewhere?

[2015-07-21 02:09] harsha2010 commented on #20
Ah , I forgot I require shapely to be present in Python path on the Python API... Will need to make this optional and only required when types are converted to shapely types

[2015-07-21 04:28] harsha2010 commented on #19
+1, thanks!

[2015-08-20 01:38] harsha2010 commented on #20
this has been fixed. we are no longer using Shapely as of 1.0.3

[2015-08-20 01:38] #20 closed

[2015-08-20 01:38] harsha2010 commented on #13
done and tested

[2015-08-20 01:38] #13 closed

[2015-10-09 00:44] JoshRosen commented on #18
Is it important that Magellan continues to support Spark 1.4 or is the plan to only be compatible with 1.5+? I would be glad to help with this update, but I imagine that things may be somewhat more complicated if compatibility with older Spark versions is a concern.

[2015-10-09 00:49] harsha2010 commented on #18
Yes we definitely need backward compatibility... For now I am ok with abandoning 1.4 support but very soon we'll need to stabilize the spark APIs enough so we can support multiple versions. Let's chat more next week

Sent from my iPhone

[2015-10-09 01:17] JoshRosen opened #24 "Add tests for Python APIs"
This library should test its Python APIs. Note that Codecov has Python integration, so we can also measure coverage there.

[2015-10-09 01:26] JoshRosen commented on #18
There are definitely libraries which are compatible with a range of Spark versions (such as `spark-redshift`). It was only Magellan's use of a few internal Spark APIs that had me worried.

From my work on `spark-redshift`, I came up with a neat way to be able to build against a single Spark and Hadoop configuration and then test those artifacts against different Hadoop and Spark versions at runtim

[2015-10-09 06:12] JoshRosen commented on #18
I spent a bit of time this evening trying to see if I could come up with a way to modify Magellan so that we could compile against Spark 1.4.1 and use the same artifacts when running against 1.5.0. It appears that the biggest blocker to this is the fact that the changes to the Catalyst `Expression` API in 1.5 appear to have broken compatibility for expressions implemented against the 1.4 API. 1.5

[2015-10-09 10:56] harsha2010 commented on #18
Hi Josh

Thanks for investigating this.. It is absolutely necessary that expression APIs be stable... I don't see how library designers can develop on top of Spark without such stable APIs. My hope is that Spark soon stabilizes on this so we don't have to co-version for too long.
Let's chat more when I get back

Ram

Sent from my iPhone

[2015-10-09 11:24] harsha2010 commented on #24
@JoshRosen this would be awesome and super important to have.

[2015-10-09 20:23] JoshRosen commented on #18
In the medium-term, I'd like to propose a stopgap solution to let us move forward with development on this package:

Let's minimize the use of Spark-internal APIs by defining thin shims that live under the `org.apache.spark.sql.compat` namespace, then re-write this library's classes to live under the `magellan` namespace and to depend only our compatibility shims. If we want to publish different r

[2015-10-10 01:27] harsha2010 commented on #18
@JoshRosen this sounds good

[2015-10-27 11:26] simonellistonball opened #29 "Reader for OSM data"
Open Street Map provides extensive and detailed public domain mapping data. It would be useful to be able to work with data from this source in Magellan.

The primary format for exports of OSM data is an xml based format:
http://wiki.openstreetmap.org/wiki/OSM_XML

The planet.osm export in XML format is about 45G under bzip2 compression, making it hard to parse with a single file method, and hard

[2015-10-27 11:36] harsha2010 commented on #29
+1
Thanks Simon!

[2015-10-28 08:17] simonellistonball opened #30 "Support for MultiPolygon"
Currently Multi-Polygons are not supported in the GeoJSON reader.

Would it make sense to implement this by breaking down into multiple polygon records, or better to add a first-class MultiPolygon to the output schema?

[2015-10-28 08:57] harsha2010 commented on #30
@simonellistonball , great question .. We should be able to support this as array of polygon type instead of polygon... I think serialization should be handled automatically for us efficiently and I don't see any reason right now for multipolygon to be anything more than an array of polygons
Can you give it a try and see if it will work?

[2015-10-29 09:16] kentore82 commented on #19
Im having datatype issues with the pyspark examples:

    from magellan.types import Point, Polygon
    from pyspark.sql import Row, SQLContext
    print('Spark v. '+sc.version)

    PointRecord = Row("id", "point")

    points = sc.parallelize([
    (0, Point(-1.0, -1.0)),
    (1, Point(-1.0, 1.0)),
    (2, Point(1.0, -1.0))])\
    .map(lambda x: PointRecord(*x)).toDF()

    points.show()

    Sp

[2015-11-10 11:46] Elbehery opened #31 "JDBC connection to PostGIS throws *unsupportedType*"
SparkSQL JDBC connection fails to retrieve a table with **Geometry** type. Please consider the following scenario :

I have a Database named "nycesri" in my postgres, with GIS Extension. It contains two tables, one with only *primitive types* named **spatial_ref_sys**, the other table named **ny_counties_clip** has a field of *Geometry* type.

I have launched spark_shell with **PostgresJDBC.jar**

[2015-11-10 13:49] harsha2010 commented on #31
@Elbehery , thanks for opening this ticket. I hadn't looked into the JDBC side yet, thanks for catching this issue.

[2015-11-10 13:54] harsha2010 opened #32 "JDBC connectivity to Magellan"
Test whether we can query using JDBC. Fix any issues therein

[2015-11-10 18:52] #32 closed

[2015-11-10 18:53] harsha2010 commented on #31
@Elbehery I'm closing this issue as this is not Magellan related. Please post to Spark SQL , the problem lies in reading PostGIS data types via JDBC. I am opening a separate ticket to investigate if Magellan has any issues with JDBC

[2015-11-10 18:53] #31 closed

[2015-11-10 19:20] Elbehery commented on #31
@harsha2010  I have already tried to open a ticket on Spark SQL before opening this issue. Though, spark team closed the bug, as they said it is not spark related issue !!.. U can find the ticket here https://issues.apache.org/jira/browse/SPARK-11526

[2015-11-10 20:39] harsha2010 commented on #31
Hi Mustafa

I looked at the ticket, per Sean's comments, it is not clear this is a
Spark SQL issue. As he points out, the return type is not supported in
Spark SQL since Spark SQL does not know about Geometry type... there are
only two ways i think to solve this, one is to write your own extensions to
Spark SQL to deal with these sort of types (wrapping custom types), or use
Magellan.
I don't thin

[2015-12-03 17:20] stevevarner opened #35 "Polygon within Polygon not Working as Expected"
I am attempting to join a polygon of the states with a polygon of countries. The only result I am getting is that Hawaii is in "United States Minor Outlying Islands." When I tried joining points against each of these shapefiles, it appeared to work fine.

States Shapefile: http://www.arcgis.com/home/item.html?id=b07a9393ecbd430795a6f6218443dccc

Countries Shapefile:  http://thematicmapping.org/dow

[2015-12-03 17:53] harsha2010 commented on #35
@stevevarner thanks, here are my initial observations
a) there is something strange about this dataset.
The min and max longitude for US seems to be
us.asInstanceOf[Polygon].points.map(_.x).min
res27: Double = -65.026947

scala> us.asInstanceOf[Polygon].points.map(_.x).max
res28: Double = -64.56028700000002

which doesn't really make sense.

Similarly, min and max latitude

us.asInstanceOf[Polygon

[2015-12-03 18:09] stevevarner commented on #35
Thanks. Side note, I also tried joining the SF neighborhoods shapefile with both states and countries and got 0 results each time.

[2015-12-03 18:11] harsha2010 commented on #35
SF neighborhood data is in a different coordinate system...atleast the one in the uber demo. are you using one which has gps coords?

[2015-12-03 18:29] harsha2010 commented on #35
side note: I noticed a bug in scaling coordinates for polygon and polyline. just merged a PR to fix that.
Now you should be able to rescale the SF Neighborhood dataset to GPS coordinates and try the join with states.

If you are building from master, run sbt/sbt clean splits

and launch spark-shell with --jars
 bin/spark-shell --jars ~/projects/hortonworks/spatialsdk/target/scala-2.10/magellan_2.1

[2015-12-03 18:52] robbyki opened #37 "zipimport.ZipImportError: can't find module 'magellan'"
I'm on spark 1.5. Not sure why I get below error after launching pyspark with magellan package:

[code]

[2015-12-03 19:02] harsha2010 commented on #37
Magellan only works with spark 1.4 for now. I am work in on Magellan 1.0.4 which should come out end of month where we'll support Spark 1.5
The Python API will also be available then

For now please use Magellan 1.0.3 with scala

[2015-12-03 19:44] robbyki commented on #37
Thank you.

[2015-12-04 12:56] mengqingyun opened #39 "add other functions into magellan"
I can see that magellan has touch/within/intersect/intersection in spark sql.
Is it possible to  add other opengis-function into spark sql in simalar ways?

[2015-12-04 14:52] stevevarner commented on #35
Thanks for the help. I was able to get the SF neighborhoods polygons to join with the states polygon successfully. For the countries overlay, I loaded into ArcGIS and it seems to accurately describe the shapes of the countries. Just wanted to pass that along.

[2015-12-10 17:22] adrianb3-telenav commented on #29
Hi guys,

I was wondering if you find useful also a PBF reader, in my experience, the OSM data consumers prefer this PBF format when processing continents or the whole planet.

I'm not a protocol buffer specialist but I know that the twitter guys were working with some protocol buffers input formats.
https://github.com/twitter/elephant-bird/blob/master/examples/src/main/java/com/twitter/elephantbi

[2015-12-10 17:30] harsha2010 commented on #29
@adrianb3-telenav , thanks this is very useful feedback. Per our offline discussion we'll start looking into supporting PBF. As you pointed out, splittability might be tricky, I'll dig into this a bit and update the thread with a viable approach once i have researched this.

[2015-12-10 17:41] adrianulbona commented on #29
great, thanks! I will let you know if I also find something on this thread.

[2015-12-10 17:46] adrianulbona commented on #29
this should be at least evaluated.
https://github.com/plasmap/geow

[2015-12-11 05:38] harsha2010 commented on #39
@mengqingyun what functions did you have in mind? what are the high priority ones for you, and can you give me use cases ?
we plan to fully support as many functions as possible, but our goal is to prioritize these in order so we support the most commonly used ones first.

[2015-12-24 12:32] Liorba opened #45 "python API"
Hey,
after seeing the europe spark summit lecture on magellan, you said python API will be available.

is there still a plan to add it?
Thanks,

[2015-12-24 15:48] halfabrane commented on #45
Hi @Liorba , I am in the process of cutting a 1.0.4 with Spark 1.5
The Python API will be available once that happens. Due to a class loading issue before Spark 1.5, the Python API was not functional unless you patched Spark... but with 1.0.4 that should be fixed. In fact, the Python API issue is what is keeping up the 1.0.4 release as some implementation changes in Spark 1.5 as far as Python goes

[2015-12-28 09:32] Liorba commented on #45
Thanks @halfabrane  for your  quick response, really looking forward to try the new version

[2016-01-12 05:16] raazesh-sainudiin commented on #29
Yes, we have been playing with magellan in databricks (just Ram's EU Spark Summit Talk 'ditabricksified' here:  http://www.math.canterbury.ac.nz/~r.sainudiin/courses/ScalableDataScience/2016/magellanGeoSpatialDatabricks.html ) and OSM with its various tools via piped-RDDs and could really use an integrated OSM reader with magellan!

[2016-01-14 15:26] robbyki commented on #45
Hello,

Any update on when this will be ready?

Thank you

[2016-01-15 13:00] byakuya11 commented on #39
@harsha2010 we majorly require buffer and distance functions. also, is the next version going to be compatible with spark 1.6?

[2016-01-17 22:35] GISDev01 commented on #45
Hi @halfabrane, great news. I'm looking forward to trying this out as well!

[2016-01-20 07:45] adrianulbona opened #47 "map matching support"
This will give a boost to the project, there are a few scalable and open solutions to this problem.

In my short discussions @harsha2010, a HMM-based approach was mentioned.

@harsha2010: what is the status here?

Meanwhile I worked on a small HMM library, with the Viterbi algorithm implemented at: http://adrianulbona.github.io/hmm/

[2016-01-26 22:17] Elbehery opened #48 "read.format("magellan") throws scala.NotImplementedError: an implementation is missing"
I have tried to load many shape files for NYC .. Although some the of the files worked fine, other threw **scala.NotImplementedError: an implementation is missing** .. I loaded the same files into PostGIS, and it worked fine. So, I am sure the files are not corrupted.

Would like to know the cause of the problem, and to solve the issue if possible.
![selection_006](https://cloud.githubusercontent.

[2016-01-27 03:52] Elbehery opened #49 "NAD83 UTM ZONE 18N Transformer"
I am working with data from NYC, the shape file was projected using the followin system :

PROJCS["NAD83 / UTM zone 18N",
    GEOGCS["NAD83",
        DATUM["North_American_Datum_1983",
            SPHEROID["GRS 1980",6378137,298.257222101,
                AUTHORITY["EPSG","7019"]],
            AUTHORITY["EPSG","6269"]],
        PRIMEM["Greenwich",0,
            AUTHORITY["EPSG","8901"]],
        U

[2016-01-27 04:08] harsha2010 commented on #48
@Elbehery thanks for raising the issue. Can you please attach one of the files we are not able to load to this issue and i will take a look

[2016-01-27 09:38] Elbehery commented on #48
@harsha2010  , attached

[NY_counties_clip.zip](https://github.com/harsha2010/magellan/files/106347/NY_counties_clip.zip)
[nyc-homicides.zip](https://github.com/harsha2010/magellan/files/106348/nyc-homicides.zip)

[2016-01-29 17:30] danfran opened #50 "Query for proximity search in a radius to find n-nearest"
Is it possible with the current API (I didn't find a way yet), given a Lat/Lon (WGS84) point "A" and a set of similar coordinates, find for a specific radius (e.g.: 1 Mile) the first 100 nearest points around "A"?

In case it helps, in Mongo would be similar to:
db.myData.find({ "location.coordinates" : { $near : { $geometry: { type: "Point",  coordinates: [ 52.4702062,-0.2836129 ] },  $minDistanc

[2016-01-29 17:39] harsha2010 commented on #50
@danfran , we haven't added the distance measure to the API yet. It is in one of the branches and we will cut a new release within the next 3 weeks which should have this feature.

[2016-01-29 20:45] merlintang opened #51 "spatial index?"
Dear All @harsha2010

Does the system support spatial index i.e., R-tree, Quadtree for RDD?
Meanwhile, does the Magellan support spatial knn join efficiently?

 I am working on one spatial data management system based on Spark name as LocationSpark(https://github.com/merlintang/SpatialSpark), which can provide spatial index and other spatial functionalists to speed up query in the RDD level. It ca

[2016-02-12 02:17] INRIX-Trang-Nguyen opened #52 "Compile issue"
Hi,

I'm running into a complie issue hooking in magellan as a maven dependency:

   <dependency>
            <groupId>harsha2010</groupId>
            <artifactId>magellan</artifactId>
            <version>1.0.3-s_2.10</version>
        </dependency>

[ERROR] error: missing or invalid dependency detected while loading class file 'Shape.class'.
[INFO] Could not access term esri in package com,
[IN

[2016-02-12 19:57] INRIX-Trang-Nguyen opened #53 "Runtime issue running with spark 1.6"
Could you tell me if magellan is compatible with spark 1.6?

I am running into this issue trying to convert a parsed RDD to DF:

case class Trip(trip_id: String,
                  probe_id: String,
                  provider_id: String,
                  start_time: Date,
                  start_hour: Integer,
                  start_point: Point,
                  trip_mean_speed: Double,

[2016-02-12 20:04] harsha2010 commented on #53
@INRIX-Trang-Nguyen , magellan is not compatible with Spark 1.6
I am working on a release that is compatible with Spark 1.6 but since Spark 1.6 introduces a lot of changes that affect Magellan;s performance, it is turning out to be a slower upgrade than i anticipated.. look for a release in the next month

[2016-02-12 20:53] INRIX-Trang-Nguyen commented on #53
Thanks. Is it still possible to use 1.6 with just rdds, or  will that break as well?

Trang

From: Ram Sriharsha [mailto:notifications@github.com]
Sent: Friday, February 12, 2016 12:05 PM
To: harsha2010/magellan <magellan@noreply.github.com>
Cc: Trang Nguyen <Trang.Nguyen@inrix.com>
Subject: Re: [magellan] Runtime issue running with spark 1.6 (#53)

@INRIX-Trang-Nguyen<https://github.com/INRIX-Tra

[2016-02-12 20:53] INRIX-Trang-Nguyen commented on #53
Also, does it work with 1.5?

From: Trang Nguyen
Sent: Friday, February 12, 2016 12:53 PM
To: 'harsha2010/magellan' <reply@reply.github.com>; harsha2010/magellan <magellan@noreply.github.com>
Subject: RE: [magellan] Runtime issue running with spark 1.6 (#53)

Thanks. Is it still possible to use 1.6 with just rdds, or  will that break as well?

Trang

From: Ram Sriharsha [mailto:notifications@githu

[2016-02-12 23:10] INRIX-Trang-Nguyen opened #54 "spark-shell example not working"
Hi,

When I try to run through the examples on the wiki in spark-shell of Spark 1.5 (prebuilt with Hadoop 1.4), I am getting the following errors:
scala> val points = sc.parallelize(Seq((-1.0, -1.0), (-1.0, 1.0), (1.0, -1.0))).toDF("x", "y").select(point($"x", $"y").as("point"))
points: org.apache.spark.sql.DataFrame = [point: poin]

scala>

scala> points.show()
16/02/12 18:06:34 ERROR Executor: E

[2016-02-12 23:13] harsha2010 commented on #54
@INRIX-Trang-Nguyen yes spark 1.5 and 1.6 support is not there yet..
We will skip Spark 1.5 support and directly go to Spark 1.6 since there have been some fundamental changes introduced by tungsten/ codegen in Spark 1.6 which makes 1.5 support not worth the rewrite on our side

[2016-02-13 02:07] INRIX-Trang-Nguyen commented on #54
Thanks the above example does work with 1.4. My logic (similar implementation) works in the spark-shell but runs into a runtime error when submitting a job:
 import sqlContext.implicits._
    val trips = tripSource.loadMovingTrips(processingDay, sourceUrl).toDF
    trips.show()

Error when executed as a job:
6/02/12 21:02:08 INFO SparkContext: Created broadcast 2 from map at TripSource.scala:50
Ex

[2016-02-15 17:17] INRIX-Trang-Nguyen commented on #54
Found the reason - I was using a newer version of the scala compiler (2.11). Works with scala 2.10.4.

[2016-02-15 17:17] #54 closed

[2016-02-15 17:34] INRIX-Trang-Nguyen opened #55 "Multi-polygon support"
Hi Ram,

I know this has been raised for

[2016-02-15 17:56] INRIX-Trang-Nguyen commented on #55
Hi Ram,

I know this has been raised before, but I need to join a table container 25 million trip records to a geography table whose geometries are multi-polygons and metadata about the country and states. Currently since multi-polygons are not first class udfs. I'm wondering what would be the most efficient way to handle a join that would aggregate trip counts by geography name using the "$"start

[2016-02-25 23:06] mses-bly opened #56 "Project still maintained?"
Hi all,

I was wondering if the project was still being maintained, since last commit was 2/3 months old and there are outstanding PRs.

Thank you

[2016-03-13 22:04] cris-pin commented on #53
Hi there harsha2010, I wondered if you had got any further with 1.6 support and just wanted to say thank-you for such excellent work so far! Kind regards

[2016-03-17 07:39] nakulchawla09 commented on #45
Hi,

While importing the pyspark package in my server. Its killing the SparkContext. Error is given below. Please let me know how to resolve the given below issue

16/03/17 02:28:47 ERROR SparkContext: Error initializing SparkContext.
org.apache.spark.SparkException: Yarn application has already ended! It might have been killed or unable to launch application master.
at org.apache.spark.scheduler.

[2016-03-23 21:15] velvia commented on #56
Along the same lines, is spatial join currently supported?  If not, what are the plans for it?

[2016-03-25 04:21] harsha2010 commented on #56
hey @mses-bly , yes the project is being maintained, we are currently working on upgrading to Spark 1.6 but running into some issues which is requiring us to rewrite some key algorithms in Magellan for efficiency purposes. We would likely need to wait until Spark 2.0 to do this efficiently. This is the reason why there is a delay

@velvia , spatial join will have to wait until the upgrade to Spark

[2016-03-31 08:59] jomach opened #57 "Anyway of converting an GEOJSON Polygon into magellan Polygon ?"
Hi guys,

Anyway of converting an GEOJSON Polygon into magellan Polygon ?
an Example would be nice. For Example I have dataframe and one of the columns is a GEOJSON Polygon.

How can I create a Polygon with your library  ?

[2016-04-01 07:16] jomach opened #58 "Geojson import does not work on Spark 1.6"
Hi Guys,

I was trying the new Library and it does not work on Spark 1.6

My Steps:

./spark-shell  --jars /Users/jorge/Downloads/postgresql-9.4.1208.jar  --driver-memory 4G --driver-cores 2 --packages harsha2010:magellan:1.0.3-s_2.10,com.databricks:spark-csv_2.11:1.4.0,com.databricks:spark-avro_2.10:2.0.1

val mageldf = sqlContext.read.format("magellan").option("type","geojson").load("/Users/jorg

[2016-04-01 16:01] harsha2010 commented on #58
@jomach magellan does not work with 1.6 yet.
This is the main problem we are trying to solve right now: we can easily upgrade to 1.6 but cannot guarantee performance. So, it is requiring us some rearchitecture to work with Unsafe Rows and Encoders in order to guarantee performance when we do upgrade to Spark 1.6
I expect it will take us atleast a month to complete this upgrade (and in doing so we

[2016-04-01 16:47] jomach commented on #58
Hi,
Thanks die the Reply.  The most important is for example I already have a dataframe with a column containing  a geojson polygon It would be nice to create a object from that so that I do not need to read always from disk.

Regards

Jorge Machado
Www.jmachado.me

[2016-04-05 03:50] qthurier commented on #58
Hi @harsha2010, I would be definitely interested in a release with Spark 1.5 support, this would avoid me few detours through postgis.. Many thanks, Quentin

[2016-04-09 03:40] sabman commented on #56
Thanks @harsha2010 I am wondering where I should track the development of the project. It seems all the work is being done here halfabrane/magellan but all the issues are harsha2010/magellan and you seem to have two github accounts too (@halfabrane) I think it would help from the PoV of open source contributions to have a clear working repo.

[2016-04-09 05:13] harsha2010 commented on #56
Hey @sabman , the main repo for magellan is harsha2010/magellan. This is also the repo linked in the Spark Packages.

[2016-04-11 17:17] sabman commented on #56
@harsha2010 can cut a beta release for the Spark 1.6  branch so that it can easily be used on databricks?

[2016-04-11 17:19] sabman commented on #58
@harsha2010 +1 to Spark 1.5 release Thanks!

[2016-04-11 17:31] sabman commented on #56
@harsha2010 sorry I meant Spark 1.5 release.

I'd really like to try the Python API on databricks cluster but am having trouble figuring out how to load the python packages. I have scala version working fine using the JAR upload capabilities of databricks

[2016-04-12 17:40] sabman opened #59 "Python API Spark 1.5.2 Magellen 1.0.4 Snapshot on Databricks not working"
Hi there! I compiled Magellen from this branch https://github.com/harsha2010/magellan/pull/46 (halfabrane:MAGELLAN-SPARK1.6  / 1.0.4 SNAPSHOT).

I am using Databricks and when I try to import modules form magellen. Scala version works fine.

[code]

I have uploaded the dependencies

![image](https://cloud.githubusercontent.com/assets/1907/14469700/4c237420-00e6-11e6-89bd-88b319f24fc3.png)

![image

[2016-04-12 18:46] sabman commented on #59
OK I managed to get it working by creating an egg file. Had to add the meta data to the setup.py

[code]
and run `python setup.py bdist_egg`. Then upload the generated egg to the Databricks. Now I an import the packages without it complaining. However, I am going through the Python API wiki page and an getting null values when trying to create a collection of points. See bellow:

![image](https://

[2016-04-12 18:51] harsha2010 commented on #59
Hi Shoaib

Python support as well as Spark 1.6 support are not working right now. Only
Spark 1.5 works

Ram

On Tue, Apr 12, 2016 at 11:46 AM, Shoaib Burq <notifications@github.com>
wrote:

--
Ram Sriharsha
Product Manager, Apache Spark
PPMC Member and Committer, Apache Spark
Databricks
San Francisco, CA
Ph: 408-510-8635
email: harsha@apache.org

[image: https://www.linkedin.com/in/harsha340]
<htt

[2016-04-12 18:52] harsha2010 commented on #59
as we discussed before, you'll need to wait for Spark 1.6 support: there is
no branch of Magellan that correctly supports Spark 1.6 today

On Tue, Apr 12, 2016 at 11:51 AM, Ram Sriharsha <sriharsha.ram@gmail.com>
wrote:

--
Ram Sriharsha
Product Manager, Apache Spark
PPMC Member and Committer, Apache Spark
Databricks
San Francisco, CA
Ph: 408-510-8635
email: harsha@apache.org

[image: https://www.

[2016-04-12 18:59] sabman commented on #59
@harsha2010 thanks for the quick reply. Is there an issue that's preventing python from working in 1.5? I would really love to help fix it if you point me in the right direction 😄

[2016-04-12 19:01] sabman commented on #59
looking at https://github.com/harsha2010/magellan/issues/45#issuecomment-167128644 it seems it should work with 1.0.4? Or am I mistaken?

[2016-04-12 19:08] harsha2010 commented on #59
actually, python API might work on Spark 1.5. Are you running this in
Databricks? Can you share the notebook code so I can try it out?

On Tue, Apr 12, 2016 at 12:01 PM, Shoaib Burq <notifications@github.com>
wrote:

--
Ram Sriharsha
Product Manager, Apache Spark
PPMC Member and Committer, Apache Spark
Databricks
San Francisco, CA
Ph: 408-510-8635
email: harsha@apache.org

[image: https://www.link

[2016-04-12 19:46] sabman commented on #59
@harsha2010 yes running on Databricks on a Spark 1.5.2 cluster (see my screenshot above)
code is just the example on the wiki:

[code]

[2016-04-12 20:11] sabman commented on #59
To help you debug the issue, it seems that when converting to a Dataframe the geometry column is getting set to null.

[code]

[2016-04-13 21:25] sabman commented on #59
further digging around. I also tried the explicitly set the schema but I am not able to pass in the UDT. It complains about Point not being a data type.

[code]

[2016-04-13 21:34] sabman commented on #59
@harsha2010 I would really appreciate some feedback even if its just this is not gonna be fixed anytime soon. I am preparing a workshop for PyData Berlin on spatial analysis and with the deadline would really like to know if I can use magellan on databricks for the tutorial. Thanks!

[2016-04-13 21:55] harsha2010 commented on #59
Hi Shoaib, can you try importing the following:
from magellan.context import MagellanContext
This should set up some mappings that take care of this issue.
Otherwise, I'll look into it this week. When is PyData Berlin?

On Wed, Apr 13, 2016 at 2:34 PM, Shoaib Burq <notifications@github.com>
wrote:

--
Ram Sriharsha
Product Manager, Apache Spark
PPMC Member and Committer, Apache Spark
Databricks
Sa

[2016-04-13 22:06] sabman commented on #59
@harsha2010 thanks! PyData Workshop is on May 20.
I was looking into MagellenContext as you posted. Let me try.

[2016-04-13 22:13] sabman commented on #59
I tried just doing the import. But that didn't work. Then I also tried to explicitly create a magellanContext. Still not working.

[code]

[2016-04-15 19:02] sabman commented on #59
dear @harsha2010 I have been digging around in the spark code to see what happens when `toDF()` is called on an RDD. I am assuming some kind of deserialization happens to convert the java to python objects. So far I have found that the `fromJava` method has a fallback where it defaults any unknown types to `null` see: https://github.com/apache/spark/blob/master/sql/core/src/main/scala/org/apache/s

[2016-04-15 19:03] harsha2010 commented on #59
i thought this was fixed in Spark 1.5.. you are right, this was the reason
python API was not working in Magellan.

On Fri, Apr 15, 2016 at 12:02 PM, Shoaib Burq <notifications@github.com>
wrote:

--
Ram Sriharsha
Product Manager, Apache Spark
PPMC Member and Committer, Apache Spark
Databricks
San Francisco, CA
Ph: 408-510-8635
email: harsha@apache.org

[image: https://www.linkedin.com/in/harsha34

[2016-04-15 19:04] sabman commented on #59
sorry you are right same function in 1.5 https://github.com/apache/spark/blob/branch-1.5/sql/core/src/main/scala/org/apache/spark/sql/execution/python.scala#L230

[2016-04-15 19:06] sabman commented on #59
1.5 looks pretty similar. question is why isn't the case statement matching for magellan
`    case (_, udt: UserDefinedType[_]) => fromJava(obj, udt.sqlType)`

[2016-04-15 19:37] sabman commented on #59
we also have this 😢 https://github.com/sabman/magellan-fork/blob/MAGELLAN-SPARK1.6/src/main/scala/magellan/Point.scala#L102

[2016-04-15 19:38] harsha2010 commented on #59
is it possible to run magellan locally on your laptop with spark 1.5 and
see if it runs into this issue?

On Fri, Apr 15, 2016 at 12:37 PM, Shoaib Burq <notifications@github.com>
wrote:

--
Ram Sriharsha
Product Manager, Apache Spark
PPMC Member and Committer, Apache Spark
Databricks
San Francisco, CA
Ph: 408-510-8635
email: harsha@apache.org

[image: https://www.linkedin.com/in/harsha340]
<https:

[2016-04-15 19:44] sabman commented on #59
Yep I have 1.5.1 running locally and see the same issue.
I tried against 1.5.2 locally I get an exception when doing a `points.show()` (though on Databricks its same as my 1.5.1 - just `null`s).
Also tried 1.4.1 also some exception but I didn't spend too long looking at it.

[2016-04-15 19:47] sabman commented on #59
Exception I see on my local `spark-1.5.2-bin-hadoop2.6`
https://gist.github.com/sabman/cde058be96907a5c458691ee7a3e2ff5

[2016-04-17 21:10] sabman commented on #59
Dear @harsha2010 do you think you will get a chance to look at this over the next week? Please just let me know either way so I can plan for the workshop accordingly. 😃

[2016-04-17 21:55] harsha2010 commented on #59
Hey, yes my first priority next week is to push a fix in to make this work. The earliest I can get to this is Tuesday, will update you as soon as I can. I expect we should be able to get the Python API working next week

Sent from my iPhone

[2016-04-17 23:22] qthurier commented on #48
@Elbehery , @harsha2010, did you investigate that issue? I got the same exception with most of the esri files provided by stats new zealand http://www.stats.govt.nz/browse_for_stats/Maps_and_geography/Geographic-areas/digital-boundary-files.aspx

[2016-04-18 06:18] sabman commented on #59
Danke! Let me know if I can help :)
On Sun, 17 Apr 2016 at 23:55, Ram Sriharsha <notifications@github.com>
wrote:

[2016-04-18 18:56] russel-m commented on #48
I believe this is due to the master branch not supporting floating point values in the DBReader. @simonellistonball has an open pull request (#28) with that support added, but it has not been merged in yet to my knowledge.

[2016-04-24 21:17] sabman commented on #59
@harsha2010 any luck?

[2016-05-10 15:36] Elbehery opened #60 "Spaial Matching query performance"
Hi,

I am trying to execute a **within** query with Magellan since two weeks, and the query always executes **finitely** ..

The first dataframe is created using **GeoJSON** type loader .. A record of the dataset is shown below :-

{"type": "FeatureCollection", "features": [{"geometry": {"type": "Polygon", "coordinates": [[[-83.472, 42.71800120413723], [-83.472, 42.7202513456291]
, [-83.4715205235

[2016-05-10 15:51] harsha2010 commented on #60
can you share the cars and radars dataset?

On Tue, May 10, 2016 at 8:36 AM, Mustafa <notifications@github.com> wrote:

--
Ram Sriharsha
Product Manager, Apache Spark
PPMC Member and Committer, Apache Spark
Databricks
San Francisco, CA
Ph: 408-510-8635
email: harsha@apache.org

[image: https://www.linkedin.com/in/harsha340]
<https://www.linkedin.com/in/harsha340> <https://twitter.com/halfabrane>
<

[2016-05-11 08:54] Elbehery commented on #60
Thanks for  prompt reply .. The data can be found here

https://www.dropbox.com/sh/34uhf0lu8xosqdj/AAAuSmrc-X_TAEgjxcf0J3-Ga?dl=0

[2016-05-18 11:14] Elbehery commented on #60
Any updates regaring this issue ?

[2016-05-19 13:42] shahabyunus opened #61 "Dependency (harsha2010:magellan:1.0.3-s_2.10) not found in any repo while building a jar through gradle"
Hi there. I am trying to build a spark scala application using magellan. I am trying to build a jar but the dependency for this package, in my gradle build is not being found. Hence I can't compile and build the jar.  I am using the following coordinates:
[code]

Snippet from build.gradle:
`    compile "harsha2010:magellan:1.0.3-s_2.10"
`

Please advise. Thanks a lot.

[2016-05-19 13:51] shahabyunus commented on #61
Figured it out(?)
It is http://dl.bintray.com/spark-packages/maven.

Gotten from:
http://spark-packages.org/package/harsha2010/magellan

[2016-05-26 06:22] caochuntu commented on #47
In HMM-based map matching, hidden states are the segments or road and the observations are your locations from GPS or other methods.

[2016-06-07 12:06] bagonzalo opened #62 "java.lang.ClassCastException: org.apache.spark.sql.catalyst.expressions.GenericMutableRow cannot be cast to org.apache.spark.sql.Row"
Hi,

I receive the following error when trying to read a .shp folder:

java.lang.ClassCastException: org.apache.spark.sql.catalyst.expressions.GenericMutableRow cannot be cast to org.apache.spark.sql.Row

I read that it is related with magellan package trying to use schema "GenericMutableRow", which is no longer supported in recent versions of Spark. Is it the case? Any prospects of updating it?

[2016-06-13 23:57] mkeller3 opened #63 "val magellanContext = new MagellanContext(sc): No Class"
When I enter val magellanContext = new MagellanContext(sc)

I receive the following error:

java.lang.NoClassDefFoundError: org/apache/spark/sql/sources/DataSourceStrategy$
        at org.apache.spark.sql.magellan.MagellanContext$$anon$1.<init>(MagellanContext.scala:35)
        at org.apache.spark.sql.magellan.MagellanContext.<init>(MagellanContext.scala:32)
        at $iwC$$iwC$$iwC$$iwC$$iwC$$iw

[2016-06-16 19:05] fragrant commented on #49
I have the same problem. I am working with data from Florida, the The coordinate system of this shape file is NAD_1983_UTM_Zone_17N.

Anyone knows how to transform GPS coordinates to this NAD83, Zone17?

Thanks in advance!

[2016-06-16 21:09] vladimirghetau opened #64 "please delete"

[2016-06-17 15:20] #64 closed

[2016-06-17 15:22] harsha2010 commented on #63
which version of spark are you using?

[2016-06-17 15:23] harsha2010 commented on #62
yes, there is a branch i have been working on to support spark 1.6. Its ready for a final pass in the next day or two and I'll cut a release 1.0.4 with spark 1.6 support by this weekend

[2016-06-17 15:34] mkeller3 commented on #63
1.5
On Jun 17, 2016 10:22 AM, "Ram Sriharsha" <notifications@github.com> wrote:

[2016-06-19 21:37] tracek opened #66 "GeoJSON MultiPolygon support"
Hi,

It seems I am hitting a wall here with my GeoJSON consisting of MultiPolygons. If I look at GeoJSONRelation:93, it's clear this piece is not implemented yet.

Are there any plans to deliver this? Can you offer any hints on how to best implement it, assuming it's possible under the framework's architecture?

Cheers,
Lucas

[2016-06-20 02:54] harsha2010 commented on #66
@tracek , can you attach a sample multipolygon file and a query? We can implement Multipolygon support, it would be good to see an example query and a sample file for testing purposes

[2016-06-20 06:21] tracek commented on #66
@harsha2010 Thanks for prompt reply. Here's an example: [GeoJSON with MultiPloygon](https://drive.google.com/open?id=0B46Cy3WOKgyJUmtvSlk0bTJadVk)

I'd like to calculate an area of intersection with another FeatureCollection: GeoJSON with a set of features composed of polygons and multi-polygons.

[2016-06-23 16:22] eoinlane opened #68 "Update on Magellan 1.0.4?"
Can you give an update on Magellan 1.0.4. I have this working on HDP 2.3.2 (Spark 1.4.1) but would very much to get it working on HDP 2.4 (Spark 1.6)?

Thanks, Eoin

[2016-06-25 16:55] juvlarN commented on #68
When looking at the latest commits, especially https://github.com/harsha2010/magellan/commit/3d282cdce14fa83cfa4a787225ab947d0e1b1a0f, I wonder whether the Spark 1.6 support is finished or not. Can someone give some insight?

[2016-06-26 02:25] harsha2010 commented on #68
Spark 1.6 upgrade is done but we haven't released a spark package yet as we are still adding tests and fixing bugs .. Will cut 1.0.4 release this week

Sent from my iPhone

[2016-06-29 09:10] kamilsa opened #69 "Find nearest points within certain radius"
Hello!

I am using pyspark.
I have a dataframe of points, similar to the one provided you in wiki, but much bigger:
[code]
What code should I write, to found all points within given radius r around given point A with coordianates (x,y)?

Thank you in advance!

[2016-08-03 14:27] sekaran-raja30 opened #71 "Within Function in megellan pyspark"
HI All,

I try to use within function using pyspark sql. But its throwing error. My sql query is df=sqlContext.sql('select * from tablename where Point(32.000034,94.003453) within polygoncolumnname')

I got sample code for scala like below,

val joined = neighborhoods.
join(uberTransformed).
where($"nad83" within $"polygon").
select($"tripId", $"timestamp", explode($"metadata").as(Seq("k", "v"))).

[2016-08-04 03:50] magicyb2016 commented on #63
i also met the same problem, my spark version is 1.6

[2016-08-05 10:14] chakravarthyvp opened #72 "Magellan outside Spark"
Hi,
     Magellan seems to be the right fit library to solve geo-spatial processing. Is there support for using this outside spark, likes of say, in flink or standalones ?

Varaga

[2016-08-12 04:37] Masutani commented on #63
Same error in 1.6.2.

[2016-08-16 17:27] edevil commented on #59
Reading these comments I'm a bit confused. Does Magellan work at all with Python and Spark 1.6+?

[2016-08-16 17:35] harsha2010 commented on #59
hey Andre. Check out the master branch and sbt/sbt clean spDist. Magellan
(Scala only) should work with 1.6+ but will not work with 2.0+

On Tue, Aug 16, 2016 at 10:27 AM, André Cruz <notifications@github.com>
wrote:

--
Ram Sriharsha
Product Manager, Apache Spark
PPMC Member and Committer, Apache Spark
Databricks
San Francisco, CA
Ph: 408-510-8635
email: harsha@apache.org

[image: https://www.lin

[2016-08-16 19:15] edevil commented on #59
Hello @harsha2010. Thanks for the feedback. I am a Python user so as I understand Magellan will only work for Scala users, am I right?

[2016-08-16 19:23] harsha2010 commented on #59
hey Andre. we are in the process of fixing and testing the Python API with
Spark 1.6. We should have it working in a week or two. for now only the
scala API works

On Tue, Aug 16, 2016 at 12:15 PM, André Cruz <notifications@github.com>
wrote:

--
Ram Sriharsha
Product Manager, Apache Spark
PPMC Member and Committer, Apache Spark
Databricks
San Francisco, CA
Ph: 408-510-8635
email: harsha@apache.or

[2016-08-17 14:04] camelia-c opened #73 "Python API - Polygon creation and Within function"
Hello,

I use Magellan and Spark 1.6.2

First, about Polygon creation, let's take the following example in Python (simplified from the Wiki):

square = [Point(1.0, 1.0), Point(1.0, -1.0), Point(-1.0, -1.0), Point(-1.0, 1.0), Point(1.0, 1.0)]
list_polygons = [Polygon([0], square)]
polygons = sc.parallelize(list_polygons).toDF()
polygons.show()

If I use an older release of Magellan (1.0.1-s_2.10),

[2016-08-23 13:40] momir81 opened #74 "Spark breaks down when running points.show()"
Hello,
I am trying to run test command points.show() like in the introduction page but then spark stops working and exits spark-shell.
Below is the whole log:
`16/08/23 13:26:20 INFO spark.SparkContext: Starting job: show at <console>:37
16/08/23 13:26:20 INFO scheduler.DAGScheduler: Got job 0 (show at <console>:37) with 1 output partitions
16/08/23 13:26:20 INFO scheduler.DAGScheduler: Final stag

[2016-08-30 06:55] momir81 opened #75 "Explaining how to use this library for standalone application"
Hello,

I have been trying to use this library for standalone applications but I faced the problem of undefined `sc` context. When I run pyspark/scala with the package from command line everything is working, but for standalone applications the context is not imported automatically.

I have tried initialization with SQLContext, but then again it reports `sc`  does not have parellelize method.

Can

[2016-09-07 11:43] jawedwards commented on #74
I also get this, is there any insights that can be shed on this issue?

[2016-09-14 23:34] mengqingyun opened #76 "Can magellan support Spark2.0?"
I have tried magellan running with Spark 2.0.It seems that it will get something wrong like UnsafeRow.
Is it expected ? or I didn't use magellan correctly?

[2016-09-26 10:04] edanshalom commented on #74
I see the same issue here when trying to show() points in DF.
When using an RDD there's no problem. Maybe you should try use the RDD and export the results when you're done. I'm very new to Magellan so I don't know if using only the RDD is sufficient.

Saw some people reporting issues with this specific release of Magellan (1.0.3-s_2.10) .
When I tried older releases of Magellan I got a different

[2016-09-26 12:30] edanshalom commented on #74
Using Spark 1.4 solved the issue for me.

[2016-10-05 21:40] lagerspetz commented on #76
Magellan uses UDT's and currently there seems to be no replacement for them in Spark 2.0:
http://stackoverflow.com/questions/39096268/how-to-use-user-defined-types-in-spark-2-0
So to make Magellan work on Spark 2.0, UDTs need to be replaced with something in Magellan, or implemented for Spark 2.0+.

[2016-10-12 13:00] Tsarazin opened #77 "What's the plan of Magellan for Spark 2.0"
Hi guys, I am using Spark 2.0 and I am dealing with geospatial datas. It seems to be that Magellan can't support that version of Spark and I can't find any other librairies. I was wondering what was the plan of Magellan for the future, are they going to release another version suitable  with spark 2.0? When?
Thanks for any piece of informations

[2016-10-19 13:48] denadai2 opened #78 "ClassNotFoundException: magellan.PointUDT"
With Spark 1.4.1 and magellan 1.0.3, when I do

    prova = udf(lambda x,y: Point(x,y), Point())

I have

    java.lang.ClassNotFoundException: magellan.PointUDT
	at java.net.URLClassLoader.findClass(URLClassLoader.java:381)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:424)
	at sun.misc.Launcher$AppClassLoader.loadClass(Launcher.java:331)
	at java.lang.ClassLoader.loadClass(ClassLoader.jav

[2016-10-21 13:05] kaxil commented on #74
Getting the same error for spark 1.6. Any possible solutions without resorting to older versions of spark ?

[2016-10-21 13:28] kaxil commented on #54
Doesn't work for scala 2.10.5 & spark 1.6 as well. I get a `java.lang.AbstractMethodError` error when I try to run `points.show()`. Any solutions please  @harsha2010  ?

[2016-10-23 17:16] martin-weber commented on #77
I'm interested in any answer to the question above as well.
Is there a roadmap for magellan?
Is the project continued? I'm asking because the last commit was on June 17th?
Should I use magellan for a new project or better switch to an other library such as geospark?
Thanks for any feedback.

[2016-10-31 16:07] bcantagrel opened #79 "Non UTF-8 encoded in .DBF strings"
Magellan seems to take the assumption that the string attributes in the .dbf file are always UTF-8 encoded.
I am processing some files where this is not true, strings are iso8559 encoded (french text with accent) and creating a dataframe from them yields to badly encoded accent see below :

_"Grand domaine hydrog�ologique des formations sableuses du littoral en Artois Picardie et d�p�ts holoc�nes

[2016-11-03 12:38] marco-hoyer commented on #68
Hi, do you have any news on that? We have magellan running on spark 1.4.1 but would also be very happy to have it running on spark 1.5.2 or 1.6.0.

[2016-11-08 17:32] pieterjanverbruggen commented on #77
I'm also wondering, I need to read in a ShapeFile and I'm using Spark 1.6.1 and it does not seem to be working

[2016-11-08 17:54] harsha2010 commented on #77
@martin-weber , i'm updating magellan for spark 2.1 soon and will update the thread once this PR is out

[2016-11-08 17:55] harsha2010 opened #82 "Upgrade Magellan to Spark 2.x"

[2016-11-08 21:58] pieterjanverbruggen commented on #77
@harsha2010  That's great news, will it also support Spark 1.6.1 then? We are urgently looking for a library in Scala/ for Spark that can work with Shape files and we are hoping to use this one. How fast is soon :) ?

[2016-11-08 22:00] harsha2010 commented on #77
you should be able to build magellan with 1.6 by using the master branch
already (sbt/sbt clean spDist) .. the artifacts will be in the target
folder and you can just take the jar that set builds and use it

On Tue, Nov 8, 2016 at 1:58 PM, pieterjanverbruggen <
notifications@github.com> wrote:

--
Ram Sriharsha
Product Manager, Apache Spark
PPMC Member and Committer, Apache Spark
Databricks
San Fr

[2016-11-09 10:11] pieterjanverbruggen commented on #77
Would it be possible to release it via a Spark Package (1.0.4) ?

[2016-11-15 20:21] sayush commented on #63
same with 1.6.0

[2016-11-25 08:27] rebely opened #84 "Can magellan support Spark1.4.1?"
I have tried magellan running with Spark 1.4.1.It seems that it will get something wrong like InternalRow.

When I enter val df = sqlContext.read.format("magellan").load(path)
I receive the following error:
java.lang.NoClassDefFoundError: org/apache/spark/sql/catalyst/InternalRow
	at magellan.SpatialRelation$class.$init$(SpatialRelation.scala:29)
	at magellan.ShapeFileRelation.<init>(ShapefileRela

[2016-12-15 12:57] jameyhicks commented on #82
How much work is required to support Spark 2.x?

[2017-01-10 01:57] hakanjonsson opened #86 "Compile problem"
I am running Magellan with Spark 2.0.0, but get and exception:
`java.util.concurrent.ExecutionException: java.lang.Exception: failed to compile: org.codehaus.commons.compiler.CompileException: File 'generated.java', Line 45, Column 17: No applicable constructor/method found for actual parameters "int, java.lang.Object";
`, when trying this simple code:
[code]

[2017-01-11 20:57] jak2030 commented on #86
I am also running into the same error:

[code]

When running the same example code in Scala:

[code]

I am using:

* Spark 2.0.1
* Scala 2.11.8

[2017-01-11 20:59] harsha2010 commented on #86
are you using the master branch? it will work on Spark 2.1+

On Wed, Jan 11, 2017 at 12:57 PM, Jeremy Krinsley <notifications@github.com>
wrote:

--
Ram Sriharsha
Product Manager, Apache Spark
PPMC Member and Committer, Apache Spark
Databricks
San Francisco, CA
Ph: 408-510-8635
email: harsha@apache.org

[image: https://www.linkedin.com/in/harsha340]
<https://www.linkedin.com/in/harsha340> <https:/

[2017-01-11 20:59] harsha2010 commented on #86
oh, and Scala 2.11

On Wed, Jan 11, 2017 at 12:58 PM, Ram Sriharsha <sriharsha.ram@gmail.com>
wrote:

--
Ram Sriharsha
Product Manager, Apache Spark
PPMC Member and Committer, Apache Spark
Databricks
San Francisco, CA
Ph: 408-510-8635
email: harsha@apache.org

[image: https://www.linkedin.com/in/harsha340]
<https://www.linkedin.com/in/harsha340> <https://twitter.com/halfabrane>
<https://github.com

[2017-01-11 21:00] harsha2010 commented on #86
try Scala 2.1+ and Scala 2.11+

[2017-01-13 18:39] jak2030 commented on #86
@harsha2010 Thanks for the response!

I get the same errors with Spark 2.1.0 and Scala 2.11. I install/build Magellan via a `build.sbt` clause that looks like:

[code]

[2017-01-23 09:59] Liorba opened #87 "read geo spatital data stright from database"
I know maggalen now supports reading straight from a file  as

sqlCtx.read.format("maggalen").load("path")

but unfortunately my data is saved in the a mysql table.
is there an option to read straight from the a database?

[2017-01-23 15:56] Liorba opened #88 "using udfs with magellan"
Im trying to create the simplest udf to transform lat,long values to magellan point

I tried something like this:
import magellan.{Point, PointUDT, Polygon}
import org.apache.spark.sql.functions.udf
val toPointUDF = udf{(x:Double,y:Double) => new PointUDT.serialize(Point(x,y)) }

unfortunately it not pass compelation...
is this possible to do so?

[2017-01-25 16:15] davidfin commented on #68
Any update on 1.0.4 release?

[2017-01-27 13:48] waras2017 commented on #86
@jak2030:

I am also planning to use magellan in Spark 2.x context. Did you already solve your problem?

If not, maybe you use the wrong version of magellan. The version of the master branch is:

name := "magellan"
version := "1.0.4-SNAPSHOT"
organization := "harsha2010"

(look in master branch build.sbt)

I think the version "1.0.3-s_2.10" from the Spark Packages Repo is not working with Spark 2.

[2017-01-30 22:05] jak2030 commented on #86
@waras2017 Thanks - I'll be circling back to this in the next week or so and will update here.

[2017-01-30 23:21] michaeldchin commented on #82
@harsha2010 I noticed the recent commit #85 update for Spark 2.1.

I am currently using the magellan 1.0.4 snapshot. I'm interested using it in production software in the near future. I'm wondering when we can expect a release or some info about the current state of 1.0.4.

Are there are any major changes in the API or known compatibility issues with Spark 2.1. Also maybe some info on what needs t

[2017-01-31 11:34] waras2017 commented on #82
@harsha2010
I am also interested in using magellan 1.0.4 in a production software in the near future.
Since the current release version 1.0.3-s_2.10 is not working with Spark 2.1.0 I am very interested in the release version for magellan 1.0.4. What are the next steps and the timeline to get this release version?
Thanks a lot for the great work!

[2017-02-07 22:08] harsha2010 commented on #88
what is the issue you are running into? can you attach a stack trace?

[2017-02-07 23:25] harsha2010 commented on #87
what format is the data stored in mysql as?

[2017-02-07 23:26] #84 closed

[2017-02-07 23:27] harsha2010 commented on #77
done!

[2017-02-07 23:27] #77 closed

[2017-02-07 23:28] harsha2010 commented on #68
1.0.4 is released now, please try it out and give me feedback!

[2017-02-07 23:28] #68 closed

[2017-02-08 15:46] mdespriee opened #92 "Question: how joins are performed ?"
Hello,

This lib is quite interesting, especially with your recent move to spark 2.1 : well done !

I would like to better understand how queries like this are internally performed: `points.join(polygons).where($"point" intersects $"polygon").show()`

From what I understand from you code, it's more or less a cartesian join + filter. Am I correct ?
This is not scalable to large datasets. Do you pla

[2017-02-08 16:17] harsha2010 commented on #92
good question.. yes, right now it is more or less cartesian join, the only optimization is that in the case the shape dataset is small enough, it triggers a broadcast nested loop join.
i am working on a spatial join optimization which i'll share more about in a separate PR, it uses spatial curve based indices instead of R Trees

[2017-02-08 16:17] #92 closed

[2017-02-08 17:27] harsha2010 commented on #82
done

[2017-02-08 17:27] #82 closed

[2017-02-08 17:28] harsha2010 commented on #76
done. UDTs are supported in Spark 2.0+ as well

[2017-02-08 17:28] #76 closed

[2017-02-08 17:29] harsha2010 commented on #63
please use 1.0.4 (spark 2.1 +). You no longer need to import MagellanContext etc

[2017-02-08 17:29] #63 closed

[2017-02-08 17:30] harsha2010 commented on #57
geojson is supported (use .option("type", "geojson") when loading data into magellan)

[2017-02-08 17:30] #57 closed

[2017-02-09 10:21] Liorba commented on #88
I have 2 tables in Mysql
1. A table with polygons in WKT format
2. A table with lat and long values

I wanted to read them into spark dataframe transform the polygons and and the lat/long values into magellan Polygon and Point and run an intersect join on them
all the examples I saw in the doc showed only how to read from geoJson/ESRI formats

can you share a code snippet on how can it be done?

T

[2017-02-09 10:23] Liorba commented on #87
see my response to this issue: [](https://github.com/harsha2010/magellan/issues/88)

[2017-02-09 10:30] Liorba opened #93 "toDS functions does not work with Point type"
I'm trying to do the following (spark 2.1.0,scala 2.11,magellan 1.0.4-s):

[code]

I'm getting the following error:
`error: value toDs is not a member of Seq[magellan.Point]`

[2017-02-09 16:06] harsha2010 commented on #88
@Liorba  we don;t support WKT format yet. I'll follow up on this in the other ticket #87
For the UDF issue, my question is, what error do you run into when you create a UDF the way you did above?

[2017-02-09 16:41] harsha2010 commented on #93
Magellan doesn't support encoders for datasets yet. Do you need to use Datasets instead of Dataframes? I will create an issue to make Magellan work with Datasets and we can track it there

[2017-02-09 16:42] harsha2010 opened #94 "Provide Encoders for Magellan Datatypes"
Magellan currently works with Dataframes but not Datasets. This issue addresses the gap by providing efficient encoders to go between Dataframes and Datasets.

[2017-02-09 16:42] harsha2010 commented on #93
tracking this here: #94

[2017-02-09 16:42] #93 closed

[2017-02-12 06:03] Liorba commented on #88
when using version 1.04-s_2.11 on spark 2.1
PointUDT is not needed and this was my mistake

this works:

[code]

[2017-02-14 21:03] harsha2010 commented on #88
awesome! thanks! I need to update the docs as they have become somewhat outdated. will do so asap

[2017-02-14 21:04] #88 closed

[2017-02-14 21:07] harsha2010 commented on #92
@mdespriee  check this PR out. This adds spatial indices to Magellan. #95
Do give it a try and give me feedback. I am still working on a spatial join that transparently uses indices but for now you can follow the PR and rewrite any cross join in Magellan to use spatial indices manually

[2017-02-22 15:09] john-min opened #97 "shapefiles only loading partially or not at all"
When attempting to load some shapefiles and count the number of polygons, as follows

[code]

I get counts of 0, or a number that is less than the appropriate number. I have verified the number of polygons that should be in the shapefiles in a variety of ways (geopandas/Python, QGIS, ogr2ogr web client).

I am using Spark 2.1 / Scala 2.11.

To be more specific,
I am attempting to load the US Censu

[2017-02-27 07:50] SrinivasRIL opened #98 "Project compatible with spark 1.6.1???"
Hi @harsha2010 ,
I wanted to know if the project is compatible with spark 1.6.1 or not?
 I am pretty new to spark and want to do geospatial analytics using spark in our organisation. I have spark installed , but somehow I am not able to figure out how to add magellan and use it. I have gitcloned the package and I tried invoking the spark-shell using the same command. but it says harsha2010#magella

[2017-02-28 05:59] SrinivasRIL commented on #98
Hi @harsha2010

I have already mentioned that I have spark 1.6.1

I installed magellan-1.0.4-s_2.11.jar  and did  a spark-shell --jars magellan-1.0.4-s_2.11.jar  .

However when i try to import a magellancontext
import org.apache.spark.sql.magellan.MagellanContext

I get the following error
<console>:25: error: object MagellanContext is not a member of package org.apache.spark.sql.magellan

[2017-02-28 17:01] harsha2010 commented on #98
1.0.4 works with spark 2.1+
also, you don;t need to import MagellanContext anymore

For Spark 1.6, you can download the release tagged 1.6 and build it using sbt/sbt clean test spDist

[2017-02-28 17:01] #98 closed

[2017-03-01 04:57] SrinivasRIL opened #99 "spark examples not working"
Hey @harsha2010

I had already raised an issue but you closed it.
I suggested not importing magellan context.
I ran the examples mentioned on your home github page

`scala> import magellan.{Point, Polygon}
import magellan.{Point, Polygon}

scala> import org.apache.spark.sql.magellan.dsl.expressions._
import org.apache.spark.sql.magellan.dsl.expressions._

scala> import org.apache.spark.sql.types._

[2017-03-02 16:00] nyitzkj1992 opened #100 "Sample code not working in V1.0.4-s_2.11"
Hi Harsha,

I am now using Scala 2.11.8 and Spark 2.1.0

So I use Magellan 1.0.4-s_2.11

But when I want to run:
 case class PolygonRecord(polygon:polygon)
it has the error:
:11: error: not found: type Polygon

And when I want to import
import org.apache.spark.sql.magellan.MagellanContext
It generates error:
 error: object magellanContext is not a member of package org.apache.spark.sql.magellan

C

[2017-03-02 16:04] harsha2010 commented on #100
did you include the following import ?
import magellan.Polygon

Also, starting Magellan 1.0.4 there is no MagellanContext. Please drop that import.

[2017-03-02 20:27] nyitzkj1992 commented on #100
Hi Ram,

Thank you for your response.

I actually used :
import magellan.{Point, Polygon, PolyLine}

Does  this have any difference to "import magellan.Polygon"

Also, I cannot use Point type either.

The Scala is v2.11.8 and Spark is V2.1.0

Thank you,

Jay

On Thu, Mar 2, 2017 at 11:04 AM, Ram Sriharsha <notifications@github.com>
wrote:

[2017-03-02 20:29] nyitzkj1992 commented on #100
[image: Inline image 1]
Attached is the screenshot
Thank you

On Thu, Mar 2, 2017 at 11:04 AM, Ram Sriharsha <notifications@github.com>
wrote:

[2017-03-02 20:36] nyitzkj1992 commented on #100
![capture](https://cloud.githubusercontent.com/assets/26145046/23525853/e7df6a56-ff5d-11e6-843c-4be9d161face.JPG)
Attached is the error message, thank you

[2017-03-03 00:24] harsha2010 commented on #100
@nyitzkj1992 this is weird. it might have something to do with how the spark repl interacts with case classes in Scala 2.11
This seems to work fine on a Databricks notebook.
https://databricks-prod-cloudfront.cloud.databricks.com/public/4027ec902e239c93eaaa8714f173bcfc/137058993011870/882779309834027/6891974485343070/latest.html

A workaround on the repl could be to not define case classes but use

[2017-03-03 02:44] nyitzkj1992 commented on #100
Thank you Ram.

I am still confused.

So does this mean v1.0.4 cannot work fine with Spark 2.1 or Scala 2.11？

Thank you

[2017-03-03 07:53] harsha2010 commented on #100
it works just fine with Spark 2.1 and Scala 2.11

[2017-03-03 08:13] harsha2010 commented on #100
I just double checked by creating a simple class and invoking it within Spark 2.1 that this problem exists outside of Magellan.. for some reason, the spark repl seems to not recognize case classes if they are referring to complex types defined outside the repl. need to dig into this more, but this is not a Magellan specific problem

[2017-03-03 08:16] harsha2010 commented on #99
there is no official build for Spark 1.6
you can download the source code with this tag: https://github.com/harsha2010/magellan/tree/SPARK-1.6 and compile it yourself. sbt/sbt clean test spDist

You should try Magellan with Spark 2.1+ if possible: that is the officially supported build

[2017-03-03 13:23] nyitzkj1992 commented on #100
Thank you Ram！If you have any update，please let me know.

Best，
Jay

[2017-03-06 15:19] nyitzkj1992 commented on #100
Hi Ram.

I find a similar issue from others.
http://stackoverflow.com/questions/42517197/spark-reduce-by-key-doesnt-work-in-repl-for-case-class-from-jar
It looks like this is a Spark2.1 problem.

Thank you

[2017-03-06 15:26] harsha2010 commented on #100
Thanks for researching this! I'm going to close this issue as its not a Magellan bug. You can use workarounds like creating case classes outside of the REPL (or using Tuples)

[2017-03-06 15:27] #100 closed

[2017-03-07 18:50] geoHeil opened #102 "Cross join"
Will magellan resort to a cross join for the intersection operation?
Or will an intelligent index I.e. Rtree be used?

[2017-03-07 19:57] geoHeil opened #103 "unresolved maven coordinates"
I can't resolve the following maven coordinates
`  "harsha2010" % "magellan" % "1.0.4-s_2.11"` outlined from https://mvnrepository.com/artifact/harsha2010/magellan/1.0.4-s_2.11 Is there a special repository to be added? Usually mvnrepository should work?

[2017-03-09 20:28] nyitzkj1992 opened #104 "variable x in class Point cannot be accessed in Magellan.Point"
Hi Ram,

This is Jay. Finally I solved the previous issue by adding Magellan. before Point or Polygon.

However, I ran into a new issue. That I want to follow the sample project.

I use magellan:1.0.4-s_2.11 and that project example used magellan:1.0.3-s_2.10.

I tried to run:
val transformer: Point => Point = (point: Point) => {
val from = new NAD83(Map("zone" -> 403)).from()
val p = point.transf

[2017-03-09 20:31] harsha2010 commented on #104
@nyitzkj1992 can you try p.getX instead of p.x and similarly p.getY instead of p.y?
I have removed public access to the fields to make it easier to change the data layout of the Point , Polygon etc for optimization purposes

[2017-03-09 20:32] harsha2010 commented on #103
i haven't made Magellan available as a maven package yet. it is only a spark package... happy to make it available in maven central if there is enough demand.  can you open a ticket for it?

[2017-03-09 20:34] harsha2010 commented on #102
what is your performance requirement? with certain spark sql optimizations that magellan uses, you can cross join several billion rows in a couple of minutes. I am working on support for spatial indexes (the master branch already has some support but more work is needed). what is your use case? how big of a dataset are you trying to join?

[2017-03-09 21:49] nyitzkj1992 commented on #104
Thank you Ram.

The definition works, but it looks like it does not complete a right transformer. The numbers are not right obviously.
![capture](https://cloud.githubusercontent.com/assets/26145046/23772288/6642633c-04e8-11e7-82c2-972ef9c23d35.JPG)

You can see the screenshot.

[2017-03-09 21:51] geoHeil commented on #102
I am trying to join polygons with points and polygons with polygons. So far
the cross join by hive esri udf blew up pretty quickly. What are the
optimizations of magellan if you don't build an index?
Ram Sriharsha <notifications@github.com> schrieb am Do. 9. März 2017 um
21:34:

[2017-03-09 21:51] harsha2010 commented on #104
what are you trying to transform? are you trying the uber example in Magellan or something else?

[2017-03-09 21:52] harsha2010 commented on #102
how many points are there and how many polygons are there in the join?

[2017-03-09 21:53] harsha2010 commented on #104
yeah, the value "403" is for california.. You'll have to use a value
appropriate to your state

On Thu, Mar 9, 2017 at 10:51 PM, nyitzkj1992 <notifications@github.com>
wrote:

--
Ram Sriharsha
Product Manager, Apache Spark
PPMC Member and Committer, Apache Spark
Databricks
San Francisco, CA
Ph: 408-510-8635
email: harsha@apache.org

[image: https://www.linkedin.com/in/harsha340]
<https://www.linke

[2017-03-09 21:56] nyitzkj1992 commented on #104
Hi Ram,
Below is my code.
I use the USA country map downloaded from ArcGis because my dataset is a countrywide data.
-----------------------------------------------------------------------------------------------------------
val df = sqlContext.read.format("magellan").load("pathUSA").select($"polygon", $"metadata".getItem("STATE_ABBR")).withColumnRenamed("metadata[STATE_ABBR]", "State")

case clas

[2017-03-09 21:57] geoHeil commented on #102
Should be several million points and up to a million polygons.
Ram Sriharsha <notifications@github.com> schrieb am Do. 9. März 2017 um
22:53:

[2017-03-09 21:59] geoHeil commented on #102
A point or polygon can intersecti with 0,1, or multiple polygons. I want to
know for each point which are the intersecting/ containing polygons.
Georg Heiler <georg.kf.heiler@gmail.com> schrieb am Do. 9. März 2017 um
22:57:

[2017-03-09 22:07] harsha2010 commented on #102
yeah, if you have a million polygons then it might be more challenging...as long as the # of polygons is less than a few thousand and fit into memory, we do use broadcast joins, and unlike ESRI Hive, you don't end up with serialization and UDF overheads which are very high due to virtual function calls...
but with a million polygons we won't be using broadcasting so you will default to cross join

[2017-03-09 22:14] geoHeil commented on #102
Sounds great did you have a look at the implementation of geo spark? They
seem to use some neat R and STR trees.
Ram Sriharsha <notifications@github.com> schrieb am Do. 9. März 2017 um
23:07:

[2017-03-10 14:54] stevebuckingham opened #105 "ClassNotFoundException magellan.PointUDT with PySpark"
I'm using Spark 2.1, Spark and harsha2010:magellan:1.0.4-s_2.11

When attempting to run this sample code I get a ClassNotFoundException magellan.PointUDT exception:

**Initiate PySpark with Magellan**

pyspark --packages harsha2010:magellan:1.0.4-s_2.11

**PySpark Code**

from magellan.types import Point, Polygon
from pyspark.sql import Row, SQLContext

sq = SQLContext(sc)

PointRecord = Row("id",

[2017-03-10 22:57] rroyhere opened #106 "df.select(df.metadata['MAIL_DR']).show() gives error"
My column metadata has Map of Mail_DR, how can I see values in each cell or row in those map? I am using scala. If I do below, i get error

<console>:1: error: identifier expected but string literal found.
df.select(df.metadata["MAIL_DIR"]).show()

But if I do these, I see the maps in metadata field like below:

scala> df.select(df("metadata")).show()
17/03/10 14:54:50 WARN Executor: Managed memor

[2017-03-10 23:06] harsha2010 commented on #106
try this: df.select(df.metadata("MAIL_DIR")).show()

[2017-03-13 20:24] rroyhere commented on #106
df.select(df.metadata("MAIL_DIR")).show() -- did not help, same error but  df.select($"metadata"("MAIL_DIR")).show() worked. But I could not see any data. Output is blank like below.

Even if I don  df.select($"metadata"("MAIL_DIR")).show(2000)- some of ht erows have only one letter but most of them with no data.
- scala> df.select($"metadata"("MAIL_DIR")).show()
17/03/13 13:22:00 WARN Executor: M

[2017-03-13 20:44] rroyhere commented on #106
Actually, I see some details if I do explode, I realize field name is not always MAIL_DIR:
Can you please advise the different commands/options to do more deeper level of explode

scala> df.select(explode($"metadata").as(Seq("k", "v"))).show(10)

+----------+--------------------+
|         k|                   v|
+----------+--------------------+
|  MAIL_DIR|                    |
| MAIL_QDRT|

[2017-03-14 13:13] stevebuckingham commented on #102
Look forward to the SpatialJoin at the moment I've got it running with a BroadcastNestedLoop to to a within join between a point and some polygons. But it is taking about 2 hours on a reasonable size cluster in AWS to join and output to parquet 66,000 polygons and 200,000,000 points.

[2017-03-20 15:03] emperorChris commented on #97
+1, similar data from the same site

[2017-03-20 21:30] geoHeil opened #108 "magellan missing some joined points?"
I am comparing geoSpark with magellan here https://github.com/geoHeil/geoSparkProblemJoinLoosingUserData. As I had some strange issues (losing the userData field of `jts.Geometry` objects after joins, not seeing points with same coordinates but different labels ) I started to compare geospark with Magellan. However whilst geospark will find at least a single join, Magellan will join no result what

[2017-04-13 07:38] kgiann78 opened #109 "Magellan connectivity through jdbc or odic"
This is more a question rather than an issue. Is it possible to set up magellan and use the thrift server (that is usually comes with spark) to connect to it and execute spatial queries?

[2017-04-13 13:36] lagerspetz commented on #66
I just tried a bit of work to parse MultiPolygons and changing the base RDD to have List[Shape] instead of Shape as the first element. Hitting a wall with Spark expecting the List to be case to PolygonUDT. Simply adding a type that would be Array[Polygon] Didn't work either because of the UDT system, we would need a new MultiPolygon type and UDT, make them hold Array[Polygon], and implement method

[2017-04-13 13:39] lagerspetz opened #110 "GeoJSON: Reading data without decimal points"
If I have a GeoJSON file with coordinates that contain numbers without decimal points, such as [25, 66.0], Magellan fails to read it. The core issue is here:
https://github.com/harsha2010/magellan/blob/master/src/main/scala/magellan/GeoJSONRelation.scala#L66
Since the underlying data will be JInt, not JDouble.

[2017-04-13 13:40] harsha2010 commented on #66
why doesn't Array[Polygon] work? can you create a pull request with the
code so I can take a look? Also if possible attach the error message

On Thu, Apr 13, 2017 at 3:36 PM, Eemil Lagerspetz <notifications@github.com>
wrote:

--
Ram Sriharsha
Product Manager, Apache Spark
PPMC Member and Committer, Apache Spark
Databricks
San Francisco, CA
Ph: 408-510-8635
email: harsha@apache.org

[image: https:

[2017-04-13 13:42] harsha2010 commented on #110
thanks for noticing the bug. would you like to submit a fix?

On Thu, Apr 13, 2017 at 3:39 PM, Eemil Lagerspetz <notifications@github.com>
wrote:

--
Ram Sriharsha
Product Manager, Apache Spark
PPMC Member and Committer, Apache Spark
Databricks
San Francisco, CA
Ph: 408-510-8635
email: harsha@apache.org

[image: https://www.linkedin.com/in/harsha340]
<https://www.linkedin.com/in/harsha340> <https:

[2017-04-13 19:26] lagerspetz commented on #110
Hi, I just opened https://github.com/harsha2010/magellan/pull/111 that fixes it at least on a test file with Int data.

[2017-04-18 05:28] mohanprasath commented on #37
@harsha2010 Are there any updates on this issue?.

[2017-04-18 13:35] lagerspetz opened #112 "WIKI: Scala API outdated"
Hi, the Wiki seems to have more info than the main page about the scala examples, but e.g. new Point no longer works, so it's outdated. Can you update it?

[2017-04-19 08:26] lagerspetz commented on #78
Hi, I don't understand enough about the Spark python bindings yet, but this looks like to be the cause:
https://github.com/harsha2010/magellan/blob/master/python/magellan/types.py#L72
The type magellan.PointUDT really does not exist, since it's now org.apache.spark.sql.types.PointUDT .

[2017-04-19 08:38] #110 closed

[2017-04-19 08:40] lagerspetz commented on #105
Hi, this is the same issue as this:
https://github.com/harsha2010/magellan/issues/78
Please check my answer and see if you can get a bit further with that.

[2017-04-19 08:45] lagerspetz commented on #78
Detailed instructions to test this change to the Python side:
`git clone https://github.com/lagerspetz/magellan.git`
(This already includes the change)
[code]

[2017-05-03 10:56] stevebuckingham commented on #105
@lagerspetz OK - I've now got PointUDT working locally in a PySpark dataframe and will try other types. If you look at the Scala code it is now expecting x-min, x-max, y-min, y-max, as well as x and y for a point (but they are just set to x and y).

[2017-05-04 03:35] lagerspetz commented on #105
Cool, you can probably submit a PR here, or give me some code and I can do it as well, once it works.

[2017-05-05 13:36] stevebuckingham commented on #105
@lagerspetz For now I've forked it - I haven't had a chance to test my changes extensively yet but I believe Polygon, Point and PolyLine all work. If you want to try the fork it is here: https://github.com/stevebuckingham/magellan

[2017-05-11 03:06] sunchao313 commented on #97
Have you solved the prolem?

[2017-05-16 08:22] karan121gupta commented on #37
@harsha2010 i am using spark 1.6.2. Getting the same error after launching 1.0.3 as well as 1.0.4 with magellan package.

[2017-05-18 14:29] kanghq commented on #102
Hi, any update for the indexing?
and if not would you mind introducing how to utilize the indexing manually?

[2017-05-19 00:41] GISDev01 commented on #103
This would be great to have, +1

[2017-06-04 07:45] geoHeil commented on #102
@harsha2010 any news about an update regarding the spatial join?

[2017-06-05 13:29] sto-nith commented on #88
Hi,

I am trying to replicate the same code mentioned above in pyspark

SPARK version: 2.1.1
Magellan : 1.0.4-s_2.11
Spark catalyst: spark-catalyst_2.11-2.1.1.jar

**from magellan.types import Point, Polygon
from pyspark.sql import Row, SQLContext
from pyspark.sql.functions import *

PointRecord = Row("lon", "lat")
toPointUDF = udf(lambda x,y: Point(x,y))
df = sc.parallelize([
  (-1.0, 1.0),
  (-1

[2017-06-05 14:02] eliasah commented on #37
I'm also getting the same error with spark 2.1.0 even thought pyspark succeeded to load the dependency :
[code]

[2017-06-05 23:27] sto-nith commented on #19
Hi,

I am facing the same issue with pyspark 1.4

           AssertionError: unknown datatype: Point (0.0,0.0)

Anyone found the resolution yet?

[2017-06-06 11:58] sto-nith commented on #105
Hi,

Did anyone get any resolution to this issue yet? I am also facing the same error:

SPARK: 2.1.1
MAGELLAN: 1.0.4-s_2.11

from pyspark import SparkConf,SparkContext
from pyspark.sql import SparkSession
from magellan.types import Point, Polygon
from pyspark.sql import Row, SQLContext
from pyspark.sql.functions import *
from pyspark.sql.types import StringType, DoubleType

conf = SparkConf().setA

[2017-06-09 20:12] perunac opened #114 "Wrong FS on loading json with spark from s3"
When trying to load json file from s3 with magellan on AWS EMR cluster:
`val polygons = spark.read.format("magellan").option("type", "geojson").load(inJson)`
you get:

at org.apache.hadoop.fs.FileSystem.checkPath(FileSystem.java:653)
at org.apache.hadoop.hdfs.DistributedFileSystem.getPathName(DistributedFileSystem.java:194)
at org.apache.hadoop.hdfs.DistributedFileSystem.access$000(DistributedFile

[2017-06-09 20:31] harsha2010 commented on #114
Thanks ! Would you like to contribute the fix?

[2017-06-09 21:09] perunac commented on #114
@harsha2010 I don't really know how to fix it, the part with split path is from someone on the AWS forum.
It really depends on time, could you estimate when you could fix this?

[2017-06-10 18:15] harsha2010 commented on #114
what is the actual url? can you include the steps to reproduce this on EMR?

[2017-06-14 09:37] shubham340 opened #116 "cannot import magellan.types in pyspark"
I ran magellan with the pyspark shell as the wiki instructs:

$SPARK_HOME/bin/pyspark --packages harsha2010:magellan:1.0.1-s_2.10

then ran into
<img width="497" alt="screen shot 2017-06-14 at 3 06 01 pm" src="https://user-images.githubusercontent.com/29426724/27125808-1b3fcb50-5113-11e7-94ec-9873071e644d.png">

[2017-06-29 09:59] #114 closed

[2017-07-13 01:47] Jonathan-Choi opened #121 "Error while importing shapefiles"
Hi,

I am trying to load in the following [shapefile](http://www.abs.gov.au/ausstats/subscriber.nsf/log?openagent&1270055001_sa4_2016_aust_shape.zip&1270.0.55.001&Data%20Cubes&C65BC89E549D1CA3CA257FED0013E074&0&July%202016&12.07.2016&Latest) from the Australian Bureau of Statistics, but I am hitting a missing implementation error at this [line](https://github.com/harsha2010/magellan/blob/e63954582

[2017-07-15 18:53] harsha2010 commented on #121
thanks @Jonathan-Choi , will take a look. I wasn't expecting this code path to be hit, technically the shape file spec allows for a null shape but didn't expect any real dataset to have this. Will dig into the shape file you posted a bit and see what is going on

[2017-07-16 10:59] Jonathan-Choi commented on #121
Thanks @harsha2010 for replying, I can confirm that it is due to Null shape and once I removed them using another software, it works as expected. I also wasn't expecting null shape to be included in the dataset.

[2017-07-19 09:45] pvanickova commented on #50
Did this feature make it to release harsha2010:magellan:1.0.4-s_2.11 ?

[2017-07-20 09:32] Perados commented on #66
Hi @harsha2010 ! Any news on the MultiPolygon support? Any workaround (`Array[Polygon]`?) would also be appreciated. :)

[2017-07-20 09:36] Perados commented on #55
👍

[2017-07-20 09:37] Perados commented on #30
👍

[2017-07-27 11:21] halfabrane commented on #30
done! #123

[2017-07-27 11:21] halfabrane commented on #55
done! We have support for multipolygons now in #123

[2017-07-27 11:22] halfabrane commented on #66
done! see #123

[2017-07-27 11:23] #30 closed

[2017-07-27 11:23] #55 closed

[2017-07-27 11:23] #66 closed

[2017-07-27 11:27] harsha2010 commented on #102
this has been done in #122
Please give it a try and let me know how it works for you

[2017-07-27 11:27] #102 closed

[2017-07-27 11:29] #60 closed

[2017-07-27 11:29] Perados commented on #66
Wow, this is awesome! Thank you very much @halfabrane ! 🍾

[2017-07-27 11:31] harsha2010 commented on #66
@Perados thanks! do let me know once you try it out if there is any issues

[2017-07-27 11:32] Perados commented on #66
@harsha2010 Yes, I will test it today or tomorrow and let you know.

[2017-07-27 21:07] dphayter opened #127 "Can magellan handle large shapefiles (1M+ polgons)?"
Thanks for a great geospatial library :-)

I've been trying to load in some large reference shapefiles (1M+ polygons per file) but with no success.
The schema is read in ok, but no data is returned with rooftops.show()
I've tried increasing Spark memory allocation, but will no joy. Any pointers to where the issue maybe / methods I should debug? Is there anyway to only read n polygons per file?

va

[2017-07-27 22:01] harsha2010 commented on #127
@dphayter can you share the shape file dataset?

[2017-07-28 00:12] jim2 opened #128 "write results back to geojson, shapefile etc?"
Magellan is great!  Is there a way to write back to geojson / shapefile? I have figured out how to write csv (without geometries), but I'd love to be able to output my geometries.

Something like:

df.write
.format("magellan")
.option("type", "geojson")
.save("results")

[2017-07-28 05:28] harsha2010 commented on #128
@jim2 thanks! Is there a reason not to write back as parquet if you want to store the geometry?
Basically geojson if a very inefficient format and if the results of an entire table have to be written into it, we need to shoehorn all non geometric columns into a properties map which might not be the best thing to do.
Shape files are even worse IMHO. The non geometric columns would have to be writte

[2017-07-28 07:33] liansghuaifan opened #129 "i get an error when read shapefile, it is not by dbfreader float bug，can you help me?"
val neighborhood_1 = sqlContext.read.format("magellan")
          //      .load("file:////F:\\testfile\\adm3")
          .load("file:////F:\\testfile\\map2015")
        neighborhood_1.show

7/07/28 15:18:59 ERROR Executor: Exception in task 0.0 in stage 0.0 (TID 0)
scala.NotImplementedError: an implementation is missing
	at scala.Predef$.$qmark$qmark$qmark(Predef.scala:252)
	at magellan.io.ShapeWr

[2017-07-28 10:01] halfabrane commented on #108
@geoHeil can you take a look at #130 ?
I am not able to reproduce the issue you mentioned here: I took your dataset and created a test case out of it. Maybe I am missing something?

[2017-07-28 10:08] harsha2010 commented on #129
@liansghuaifan can you share the shape file?

[2017-07-28 20:50] jim2 commented on #128
Correct - its for portability w/ legacy systems.  Parquet is my approach for persisting data in hdfs and then later using w/ magellan, but if I need to move some geometries + attributes back into some other system, I am currently just exporting attribute CSV and joining it to the original geometry in my GIS.  It would be better if I could just output from magellan.  I like your idea extra column f

[2017-07-31 03:01] liansghuaifan commented on #129
my shape file is too big, i can not send it to here.  i use http://mapshaper.org/  to create a small one .
[Export_Output.zip](https://github.com/harsha2010/magellan/files/1186271/Export_Output.zip)
thank you replay

[2017-07-31 07:05] harsha2010 commented on #129
i did a quick check on the DBF format that is being generated here... looks like your .dbf file has version 0. What tool is generating this file? I only support DBase 3 format right now
http://www.dbf2002.com/dbf-file-format.html

[2017-08-01 02:34] liansghuaifan commented on #129
Thank you Ram.
The question is really caused by my  .dbf file，i change my shapfile to geojson file。
Finally, the problem is solved
.format("magellan").option("type"，"geojson")

[2017-08-01 02:34] #129 closed

[2017-08-02 14:24] Perados commented on #66
@harsha2010 It works like a charm! Thank you very much! 👌

[2017-08-03 07:57] dphayter commented on #127
Unfortunately due to licensing I can't share the shape file :-(
I'm running on a 20 node YARN cluster (total available memory: 2.6 TB) via Zeppelin.

Are their any large open-source shape files (similar size) that we could use instead?

Thanks

[2017-08-03 08:24] harsha2010 commented on #127
@dphayter on average how many edges do the polygons in each file have? and how big is each file in terms of bytes? i'll see if i can find a similar shape file open source

[2017-08-03 09:12] dphayter commented on #127
approx. 50% of polygons have 4 edges /  50% of polygons have 6-8 edges.
At present I'm just trying to read in one shapefile. The file is 334,134,120 bytes and has a FID count of  1.697 million

[2017-08-04 07:48] harsha2010 commented on #97
@john-min , @def2ler  @sunchao313 , this issue has been fixed by #136
Can you please verify that is the case?

[2017-08-04 07:49] harsha2010 commented on #127
@dphayter thanks! I am looking into this issue now. Basically right now we read an entire shape file into memory. I am trying to see if there is a sensible way to split a shape file so it can be streamed in. Will update the thread in a day or so with a conclusion

[2017-08-09 06:09] Charmatzis commented on #128
@harsha2010 I believe that exporting in GeoJson it would a very nice feature, because after exporting your data to GeoJson you can imported in any DB with spatial extent(Postgres/PostGIS, SQL Server, Oracle, My SQL etc..) using the ogr2ogr util.

Something like that it would be great
df.write
.format("magellan")
.option("type", "geojson")
.save("results")

and also even more

df.write
.format("mag

[2017-08-09 06:32] harsha2010 commented on #128
thanks @jim2 , @Charmatzis
I can put something quick together here. Would one of you be willing to test it out a bit and give feedback before merging in?

[2017-08-09 07:28] Charmatzis opened #139 "rename metadata to attributes or properties"
Hi, it would be a nice improvement if you changed the property "metadata" to "attributes" or "properties".
In the GIS world metadata are the data that describes the dataset e.g. creation date, owner etc.

The data that follows the geometries are called "attributes"
http://support.esri.com/en/other-resources/gis-dictionary/term/attribute
https://en.wikiversity.org/wiki/GIS/attributes

or if you wan

[2017-08-09 16:29] jim2 commented on #128
I'd be happy to test and offer feedback.  Thanks!

[2017-08-09 16:40] harsha2010 commented on #128
thanks @jim2
There is a question i have here on design:
if we write a data frame as GeoJSON,  what do you do with the non spatial columns?
for example if you have [polygon, neighborhood, colA, colB,..] do you write out colA, colB etc as properties attached to the feature collection?
Would that be the expected behavior?

[2017-08-09 20:39] jim2 commented on #128
Yes @harsha2010, I'd like it to look like this [https://gist.github.com/jim2/63527f159a50635c120b9fa8f64b5288](url)
with the nonspatial properties from the dataframe included.

[2017-08-10 07:06] Charmatzis commented on #128
That's why it is a nice improvement to rename metadata class to properties...
https://github.com/harsha2010/magellan/issues/139

[2017-08-10 08:05] harsha2010 commented on #139
@Charmatzis I don't have a super strong opinion about this: technically metadata is the right word as it is describing data about a shape.
I think of property of a shape as something that is fundamental to a shape, e.g. is it convex? does it have holes? etc.
So just semantically, metadata seems like the more appropriate word.

Also, from a practical perspective, calling this column by any other na

[2017-08-10 08:06] harsha2010 commented on #128
@Charmatzis  that is an orthogonal issue: we can discuss it in #139
@jim2 thanks, i think that makes sense... I'll put a skeleton PR together and ping you to test/ give feedback

[2017-08-10 08:46] Charmatzis commented on #139
@harsha2010 thx mate. we will be in touch. (I will close this issue)

[2017-08-10 08:46] #139 closed

[2017-08-10 15:13] Perados opened #141 "How to read a column outside "properties"."
When reading this file https://github.com/johan/world.geo.json/blob/master/countries.geo.json, I wanna keep the "id" information. When I read it using magellan, I currently get only the following columns: point, polyline, polygon, metadata, and valid. None of these contain the id information. If the id would be inside properties in the source file, then there would be no problem, metadata would co

[2017-08-10 15:45] harsha2010 commented on #141
@Perados , The GeoJSON spec here, https://tools.ietf.org/html/rfc7946#section-1.3 defines these things like ids as foreign members.
We don;t support them in Magellan right now. I am in the process of refactoring GeoJSON support to make it an extension of JSON, in which case we might be able to support foreign members as well.
I dont have a timeline on this yet but likely in a couple of weeks

[2017-08-10 16:48] Perados commented on #141
Awesome, thanks! In the mean time, a workaround is to modify the source geojson file to include the foreign members inside "properties", so no worries.

[2017-08-10 17:30] Perados opened #142 "How to perform a left join between points and polygons?"
I am trying to tag a DataFrame of points with metadata coming from a geojson. So it is basically a "left join". Is there a way to do this with magellan? The readme only shows an inner join (in the "within" example).
I have a workaround for this, but I was wondering if I am just reinventing the wheel here.

[2017-08-10 17:34] harsha2010 commented on #142
are you trying to join on some id column on both points and polygons and want to keep points that don't have a matching row on the right side? that would be a left outer join on the id column

Otherwise can you explain what you are doing in pseudocode or something ?

[2017-08-10 17:35] Perados opened #143 "Mailing list, Slack, Gitter, etc..."
I am asking a lot of questions as issues on GitHub, not good. Maybe we can start building a community around magellan? Are there any mailing lists, slack or gitter rooms? A gitter would be awesome.
Any other suggestions?

I am using magellan with big data sets (billions of rows every day), and I love it. I am sure there is a lot of people interested in the project.

Cheers! 🍻

[2017-08-10 17:36] harsha2010 commented on #143
i was thinking the same.. I will set up a slack channel for magellan

[2017-08-10 17:40] harsha2010 commented on #143
https://gitter.im/magellan-dev/

[2017-08-10 17:43] #143 closed

[2017-08-10 17:44] harsha2010 commented on #142
@Perados closing this, we can discuss in gitter and open an issue if there is any functionality we need to add to Magellan.

[2017-08-10 17:44] #142 closed

[2017-08-13 22:27] dphayter commented on #127
Any progress/thoughts on how to split the shapefile? I've seen tools like QGIS have a python utility 'ShapefileSplitter' or R package ShapePattern function shpsplitter, but it would be nice to be able to split the shape file on sqlcontext.read.format("magellan").load
Thanks

[2017-08-14 07:20] Charmatzis commented on #127
@dphayter Hi, shapefile as a spatial data type has limitations, like it can not exceed size larger that 2GB.
http://support.esri.com/en/technical-article/000010813

[code]
def readSimpleFeatures(path: String) = {
    // Extract the features as GeoTools 'SimpleFeatures'
    val url = s"file://${new File(path).getAbsolutePath}"
    val ds = new ShapefileDataStore(new URL(url))
    val ftItr: SimpleF

[2017-08-14 07:22] harsha2010 commented on #127
@dphayter @Charmatzis I actually had a branch where i did this, but seem to have accidentally deleted it.
Talking to GitHub support to see if I can recover it.. in any case, this shouldn't take too long to fix and I will have a PR for this shortly
@dphayter would be great to have you try it out since I couldn't find really large shape files

[2017-08-14 07:23] harsha2010 commented on #127
@Charmatzis also the issue is not so much that a shape file cannot exceed 2GB but the 2GB shape file is being read by a single core... so its not really using much parallelism. We can fix it by using the .SHX index file to figure out how to split the shape files so it can be read in parallel.

[2017-08-14 09:27] dphayter commented on #127
Thanks both.
@harsha2010 let me know when you have a PR and I'll test it out. Thanks

[2017-08-14 10:07] harsha2010 commented on #127
@dphayter , thanks to the fine people at Github support i was able to recover the branch !
https://github.com/harsha2010/magellan/pull/146
Can you test this out and let me know if it solves your problem?

[2017-08-14 15:28] #97 closed

[2017-08-14 23:18] dphayter commented on #127
Good news, #146 worked for me!

val rooftops = sqlcontext.read.format("magellan").load(../shape/")
rooftops.printSchema
rooftops.show(1000)

Note: My .Shp (file size 334,134,120 bytes / FID count of 1.697 million) also had a corresponding .Shx

I'll do more detailed join testing shortly

Many thanks David

[2017-08-15 09:13] #127 closed

[2017-08-15 09:15] harsha2010 commented on #127
Resolved by #146

[2017-08-15 09:16] harsha2010 commented on #108
Cannot reproduce the issue , closing this. Please open a new one with a test case if it is still unresolved

[2017-08-15 09:16] #108 closed

[2017-08-15 09:18] #106 closed

[2017-08-15 09:33] #51 closed

[2017-08-15 09:34] harsha2010 commented on #16
✅

[2017-08-15 09:34] #16 closed

[2017-08-15 09:36] #18 closed

[2017-08-15 09:36] #19 closed

[2017-08-15 09:38] harsha2010 commented on #29
Resolved by #34

[2017-08-15 09:38] #29 closed

[2017-08-15 09:39] #56 closed

[2017-08-15 09:58] lamastex commented on #29
Would love to try it out when I get a chance. One could mix OSM with live hate-speech on twitter for 'ideological street safety' one day from the maths and codes here: https://lamastex.github.io/scalable-data-science/sds/research/mep/ . Thanks Ram!

[2017-08-15 10:03] harsha2010 commented on #86
Cannot reproduce, closing this issue . Please open with test case including Magellan and spark versions if you still have this issue

[2017-08-15 10:03] #86 closed

[2017-08-16 00:22] renkeji opened #148 "ShapefileReader recordNumber requirement failed"
New to shapefile, trying to load a shapefile to spark, and getting this error:
[code]
The file I used to test can be loaded to qgis2 though, which means it should be a valid one.

[2017-08-16 00:23] harsha2010 commented on #148
Can you attach the shape file ?

[2017-08-16 00:28] renkeji commented on #148
@harsha2010 Thanks for the reply, I am not sure I can attach the shapefile in github since it may be company confidential, I will check with my manager.

[2017-08-16 00:46] renkeji commented on #148
@harsha2010 I have attached the files here, please find the .shp, .dbf files in the zip file.
[BoardOfEducTrustees.zip](https://github.com/harsha2010/magellan/files/1226764/BoardOfEducTrustees.zip)

[2017-08-16 07:12] Charmatzis commented on #148
@renkeji the zip file is empty.
please, also include the qpj, prj, shx files.

[2017-08-16 07:19] renkeji commented on #148
@Charmatzis I have re-attached the zip file which contains the all the files I have(there is no .qpj file though).

[BoardOfEducTrustees.zip](https://github.com/harsha2010/magellan/files/1227315/BoardOfEducTrustees.zip)

[2017-08-16 16:04] harsha2010 commented on #148
bin/spark-shell --packages harsha2010:magellan:1.0.5-s_2.11
val df = spark.read.format("magellan").load(s"$path")
df.show()

+-----+--------+--------------------+--------------------+-----+
|point|polyline|             polygon|            metadata|valid|
+-----+--------+--------------------+--------------------+-----+
| null|    null|magellan.Polygon@...|Map(SHAPE_STAr ->...| true|
| null|    null

[2017-08-16 17:57] renkeji commented on #148
@harsha2010 verified again, it works, I am closing this issue, thanks for checking for me.

[2017-08-16 17:57] #148 closed

[2017-08-17 00:05] harsha2010 opened #149 "Support more types of Predicates"
Today Magellan supports

- [x] Point within Polygon
- [x] Polygon contains Point
- [x] Polygon intersects Line
as first class citizens

Among these, the first two use spatial indices while the third does not yet use spatial indices.

It is straightforward to extend support for other predicates

- [ ] Polygon contains Line
- [ ] Polygon contains PolyLine
- [ ] Polygon intersects PolyLine

Extending

[2017-08-17 00:07] harsha2010 opened #150 "Extend Spatial Joins to more types of Joins"
Apart from Inner Joins, also support Left Outer/ Right Outer Joins using Spatial Indices.
eg.
```points.join(polygons, $"point" within $"polygon", "leftouter | rightouter")``` should also leverage spatial indices.

[2017-08-17 00:07] harsha2010 commented on #150
@Perados I created a ticket to track the left outer join optimization we discussed. Will have an ETA soon

[2017-08-17 08:17] Perados commented on #150
@harsha2010 Thank you very much! My solution works for now, so there is no hurry, at least on my side. But yeah, this would be very useful for users in general. 👍

[2017-08-24 11:21] nkaralis opened #151 "Contains predicate not working"
Greetings,

I am trying to do a spatial join using the "contains" predicate, but i get the following exception:
`Exception in thread "main" org.apache.spark.sql.AnalysisException: cannot resolve 'contains(`polygon`, `point`)' due to data type mismatch: argument 1 requires string type, however, '`polygon`' is of polygon type. argument 2 requires string type, however, '`point`' is of point type.;;`

[2017-08-24 11:27] harsha2010 commented on #151
@nkaralis thanks, i should document contains actually... but you cannot use contains the way you have it right now since it does a string contains check (contains is actually a Spark SQL expression)
so Magellan uses a special operator for contains:

 val sqlCtx = this.sqlContext
    import sqlCtx.implicits._
    val ring = Array(Point(1.0, 1.0), Point(1.0, -1.0),
      Point(-1.0, -1.0), Point(-1.

[2017-08-24 12:01] nkaralis commented on #151
@harsha2010 Yes, it works! Thanks for helping me out!

[2017-08-24 12:14] #151 closed

[2017-09-06 19:18] john-min opened #153 "Incompatibility: Databricks Run Time Version 3.1+ on Spatial Join"
I am using Databricks Run Time Version 3.0+ with Spark 2.2, Scala 2.11 attempting to do a spatial join using the `within` predicate, i.e. point in polygon.

I add the spatial join rule to Spark following the documentation. Once I try to retrieve the dataframe with the results, I get the following error:

[code]

My simplified code looks as follows, just following along with the documentation:

[co

[2017-09-08 02:26] kreno911 commented on #99
Harsha ji, What are we supposed to do? I have HDP running spark 1.6.3. We do not have spark2 and I need to use magellan. I have this same error. Do you have a version of magellan that works with this version? Why do we need to build it ourselves?

[2017-09-09 14:52] khajaasmath786 opened #158 "Maven Coordinates for SprakCloudera 2"
Hi,

we are using cloudera version of spark2. What will be the maven co-ordinates for magellan for this version of spark.

    <scala.version>2.11.8</scala.version>
    <scala.compat.version>2.11.8</scala.compat.version>
    <scala.binary.version>2.11</scala.binary.version>
    <spark.version>2.0.0.cloudera2</spark.version>
    <hadoop.version>2.6.0-cdh5.10.0</hadoop.version>
    <hiveJDBCVersion>

[2017-09-11 18:56] jak2030 commented on #50
I'm also curious whether this is an undocumented or upcoming feature. Thank you!

[2017-09-11 19:10] harsha2010 commented on #50
@jak2030 @pvanickova i haven't added this yet..nearest neighbor search is targeted for 1.0.6 (as it needs indexing to do this efficiently)
I am working on nearest neighbor search this week, I expect a first cut PR to be ready in a week
What is your use case? Are you willing to share some data to test and benchmark performance on?
How many points do you need to compute kNN on, for example? What kin

[2017-09-13 08:06] harsha2010 commented on #158
<dependency>
<groupId>harsha2010</groupId>
<artifactId>magellan</artifactId>
<version>1.0.5-s_2.11</version>
<type>jar</type>

you will need to add the spark jars separately to the pom

[2017-09-13 08:06] #158 closed

[2017-09-13 08:08] harsha2010 commented on #153
@john-min let me know if this is still an issue. closing it after testing on DB Runtime 3.1, 3.2 with #157

[2017-09-13 08:08] #153 closed

[2017-09-13 08:10] harsha2010 opened #160 "Investigate potential performance slowdown between 1.0.4 and 1.0.5"
There seems to be a performance slowdown in the case where you don't use indexing between 1.0.4 and 1.0.5
We first need to reproduce the exact scenario where this happens. This ticket is to track the issue

[2017-09-14 17:19] khajaasmath786 opened #163 "Joins on Dataset and Polygon"
Hi,
Here is the dataset I have,
******* Schema of datasetPoints******
root
 |-- vin: string (nullable = true)
 |-- providerdesc: string (nullable = true)
 |-- utc_time: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- route_index: string (nullable = true)
 |-- dist_mi: string (nullable = true)
 |-- speed_mph: string (nullable = true)
 |

[2017-09-14 17:33] khajaasmath786 commented on #163
Exception thrown in awaitResult:

Exception thrown in awaitResult:

org.apache.spark.util.ThreadUtils$.awaitResultInForkJoinSafely(ThreadUtils.scala:215)
org.apache.spark.sql.execution.exchange.BroadcastExchangeExec.doExecuteBroadcast(BroadcastExchangeExec.scala:131)
org.apache.spark.sql.execution.SparkPlan$$anonfun$executeBroadcast$1.apply(SparkPlan.scala:124)
org.apache.spark.sql.execution.Spark

[2017-09-15 01:12] funfine opened #164 "Only have Zone 401 and 403 for state plane coordinates?"
Hi,

I was trying to analyze the NYC Taxi data as well. But realized that the shapefile I downloaded is in New York state plane coordinate system (zone 3104). Try to find the formula online to convert myself. Not so much luck. Is it possible to add that zone into the code?

Best,

[2017-09-15 03:51] #163 closed

[2017-09-19 16:41] khajaasmath786 opened #167 "Array Index out of bound exception while reading shape files which has around 22K shapes"
Hi Harsha,

I am trying to load shape file which has around 22 K shapes. It is resulting in exception. May I know is there any size limit  while reading polygons within shape files?

org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 51.0 failed 1 times, most recent failure: Lost task 0.0 in stage 51.0 (TID 411, localhost, executor driver): java.lang.ArrayIndexOutOf

[2017-09-19 16:49] harsha2010 commented on #167
@khajaasmath786  hmm, not sure..it looks like a bug at first glance, let me try testing these files out.
unfortunately i wont have time until tomorrow to test, but will get to it first thing tomorrow

[2017-09-19 19:15] #160 closed

[2017-09-20 01:57] harsha2010 commented on #167
@khajaasmath786 #169 fixes this. I have added tests to verify the fix, let me know if it works.

[2017-09-20 03:06] khajaasmath786 commented on #167
Hi Harsha,

I am going to use only the library supported with 2.1 version. is this fix
applicable been updated in 2.1 or only applicable in 2.2 version of spark?

Thanks,
Asmath

On Tue, Sep 19, 2017 at 9:01 PM, Ram Sriharsha <notifications@github.com>
wrote:

[2017-09-20 07:17] harsha2010 commented on #167
@khajaasmath786 do you mean 2.0.0 ? magellan master should work with 2.1+. I don;t know about Cloudera versions, but if this doesn't work on Apache Spark 2.1 + , let me know.

[2017-09-20 11:44] ritesh-dineout opened #171 "withinCircle operators on BoundingBox"
It seems `withinCircle` function is added to `BoundingBox` 10 days ago. I believe it is not yet released. The latest released version `1.0.5` don't support `withinCircle` operation on `BoundingBox`.

https://github.com/harsha2010/magellan/blob/829860de0e78b8d8a8ea18f36283f217bf25c7a4/src/main/scala/magellan/BoundingBox.scala#L65

I have a need to use this function. Can this be released sometime so

[2017-09-20 12:07] harsha2010 commented on #171
Can you build against the master branch?
sbt/sbt clean spDist

And then use the function in spark SQL using;
points.where($"point" withinRange( Point(0.0,0.0) , 5)) where 0.0,0.0 is the origin and 5 is the radius(customize this for your use case)

The function itself will be optimized even more in a further PR but should be good enough to use
Let me know how it works for you

[2017-09-20 12:07] #171 closed

[2017-09-20 12:51] Charmatzis opened #172 "Slope for lines that are parallel to the Y axis"
https://github.com/harsha2010/magellan/blob/134bd156b1fba5999cfba89461533442028ffe9d/src/main/scala/magellan/geometry/R2Loop.scala#L82

Since you divine with the x difference of the two points, if that is 0 , we have problem.....

[2017-09-20 13:07] harsha2010 commented on #172
actually that's not true... if the point.x is outside the start.x/end.x then cond1 and cond2 will be false... otherwise true(a ray does intersect a edge that it is parallel to and shares a point with
Would be good to check by writing a unit test

[2017-09-20 14:40] ritesh-dineout commented on #171
@harsha2010 Yes I can build it against the master or I can use scala implicits to add the custom function.

The purpose for this issue is to understand the roadmap of this project and the expected release of next version.

Thanks.

[2017-09-20 21:23] khajaasmath786 commented on #167
Hi Harsha,

I was able to run magellan earlier by adding --jars to spark2-shell using command below

spark2-shell --jars /hoome/yyy251/harsha2010:magellan:1.0.4-s_2.11

I cannot run by using the command below as mentioned by you in readme instructions of magellan. Please find below error. This is forcing me to get the latest version of the jar, download and push to cluster and access it using spar

[2017-09-21 12:07] harsha2010 commented on #172
@Charmatzis look at #173 , it exhibits tests for these scenarios and shows it works just fine

[2017-09-21 12:07] #172 closed

[2017-09-21 13:56] ritesh-dineout opened #174 "withinCircle is incorrect for geo coordinates"
Consider the origin point as `Point(78.337059, 17.421833)`

The user location point as `Point(78.34024857791022, 17.426519064103633)`

When I call `userlocationpoint.withinCircle(origin, 50);` this function will return true based on the implementation

https://github.com/harsha2010/magellan/blob/master/src/main/scala/magellan/Point.scala#L81-L84

However the actual geographic distance between thes

[2017-09-21 15:51] khajaasmath786 commented on #167
Hi Harsha,

I have downloaded the latest jar by spark-shell command. Here is the output of my spark-shell.

![image](https://user-images.githubusercontent.com/8755249/30705234-802498da-9eba-11e7-9676-edac943edc89.png)

I went inside the jar file to check if DBReader.scala is updated for version 1.4.

C:\Users\yyy1k78\.ivy2\cache\harsha2010\magellan\jars

![image](https://user-images.githubusercont

[2017-09-21 16:57] harsha2010 commented on #167
can you use magellan_1.0.5 ?
https://dl.bintray.com/spark-packages/maven
  <dependency>
  <groupId>harsha2010</groupId>
  <artifactId>magellan</artifactId>
  <version>1.0.5-s_2.11</version>
  <type>jar</type>
</dependency>

Since you are using Spark 2.1, 1.0.5 should work
Why do you need 1.0.4?

[2017-09-21 17:13] khajaasmath786 commented on #167
Let me try that.

BTW, I changed the shape files to geojson and it worked. I can see the
output. Strange but want to try out and resolve it.

I have a question, what is maximum size of shapes that we can include in
one geojson file?

On Thu, Sep 21, 2017 at 11:57 AM, Ram Sriharsha <notifications@github.com>
wrote:

[2017-09-21 22:34] harsha2010 commented on #174
yes, it doesn't use great circle distance if thats what you mean ... theres a separate PR for fixing that.. right now this function is not supposed to be really used, its just a placeholder.
It will be released in v1.0.6 roughly around mid november

[2017-09-21 22:34] #174 closed

[2017-09-25 21:02] nsuguru opened #175 "Reference 'polygon' is ambiguous while using "polygon intersects polygon""
Exception in thread "main" org.apache.spark.sql.AnalysisException: Reference 'polygon' is ambiguous, could be: polygon#2, polygon#75.;

Code:
val spark = SparkSession.builder.master(args(0)).appName("MagellanTest").getOrCreate()
val df = spark.read.format("magellan").load(args(1)).select("polygon", "metadata")
val sqlContext = spark.sqlContext
val sc = spark.sparkContext
import sqlContext.implicit

[2017-09-26 08:07] cdhit opened #176 "Spark 2.2.0.cloudera1 is not supported"
Hi,

I got this msg from Zeppelin, and my Spark version is Spark 2.2.0.cloudera1
"Spark 2.2.0.cloudera1 is not supported"

Is it true? When will it be supported?

Thanks,

[2017-09-26 15:01] hectormauer commented on #153
I am having the same error even though I'm running it in DB Runtime 3.2, with Spark 2.2.0 and Scala 2.11.
I am basically trying to reproduce the code from your example in the blog: https://magellan.ghost.io/magellan-geospatial-processing-made-easy/

Error:
NoSuchMethodException: java.lang.NoSuchMethodError: org.apache.spark.sql.catalyst.expressions.AttributeReference$.apply$default$7(Ljava/lang/St

[2017-09-26 15:09] mdbuck opened #177 "java.lang.ClassCastException: org.apache.spark.sql.catalyst.expressions.GenericInternalRow cannot be cast to java.lang.Double"
Started to use Magellan and ran into the above exception. Basically what the code is doing is:
[code]

I expected all falses however, running the attached application yields the above exception. The attached .zip file contains a simple driver application along with the polygons.csv as well as gradle build script. The build scripts are only helpful in informing you of the dependencies I am using.

[2017-09-26 16:54] jonas-ve commented on #128
@harsha2010 I was also looking for this feature since i was thinking it was impossible to read back a parquet file containing Magellan types. It would be nice, if you can you give us an example on how to read back a parquet file containing Point and Polygon type.

[2017-09-27 18:31] obaidcuet opened #178 "Optimize Spatial Join for Skew Data"
Hi,

Consider this as a new feature request: "Optimize Spatial Join for Skew Data"

example:
Let's say we have the world country boundary as multi-polygons.
We have 1million lat,lon points and we need to find out which country each point belongs to.
But in reality, more that 75% of the points are from a single country.
When we join using "within", only one executor allocated for the 75% of data, a

[2017-09-27 18:58] Charmatzis commented on #175
Could you post few of your data, so we can test them?

[2017-09-27 19:08] Charmatzis commented on #175
I as I can see, it only checks if the edges of the polygons are intersecting, not if the one contains the other. I will try to create a pull request for that.

[2017-09-27 19:34] nsuguru commented on #175
[County_06003.zip](https://github.com/harsha2010/magellan/files/1338498/County_06003.zip)

[2017-09-27 19:34] nsuguru commented on #175
Here is the sample data

[2017-09-27 20:16] Charmatzis commented on #175
I have created a PR, about your issue, I believe that will solve this.
https://github.com/harsha2010/magellan/pull/179

[2017-09-29 23:06] Mahshids commented on #59
Hi @harsha2010. Does Magellan work with Python and Spark 2.1?

[2017-10-02 20:02] mdbuck opened #180 "Issues Using Indexed Columns While Doing a Spatial Join"
Attached is a driver application demonstrating how something bad happens when trying to do a spatial join between a point DataFrame and a polygon DataFrame using the new indexing feature in Magellan 1.0.5:
- a NullPointerException may be thrown;
- an OutOfMemory error may be thrown;
- the JVM may crash;
- the application may finish fine but contains.show() displays gibberish to the console.

[mage

[2017-10-02 20:25] harsha2010 commented on #177
@mdbuck can you convert the lat/ long to doubles? i think you are using strings

[2017-10-02 20:26] harsha2010 commented on #180
how many nodes are you using? a single driver and no workers? how big is your driver node? and how much data are we talking about? (polygons and points)

[2017-10-02 20:30] harsha2010 commented on #175
@Charmatzis , @nsuguru there are two separate issues here:
1) polygon contains polygon and polygon intersects polygon are not exposed yet (which is what @Charmatzis is fixing)
2) when you use two dataframes with the same field names, you need to disambiguate them
for example points.join(df).where(points("point") within df("polygon"))

[2017-10-03 02:29] JonMcPherson commented on #149
Is there any chance of implementing additional function(s) to calculate the intersection points between 2 polygons?  Perhaps using the Greiner-Hormann algorithm [](http://w8r.name/GreinerHormann/)

[2017-10-03 03:14] mdbuck commented on #177
Not sure what you mean. The point in the SELECT is using doubles as indicated by the 'd' suffix in the lit() expressions.

After some more investigation I discovered that the wkt expression returns a StructType and not a Polygon like I assumed. I will investigate further.

Thanks.

[2017-10-03 06:17] harsha2010 commented on #149
@JonMcPherson , is it enough to expose the intersection ,union and difference as polygons /polygon collections?
If there is enough interest we can definitely prioritize this

[2017-10-03 12:48] mdbuck commented on #177
Looks like my understanding of wkt is correct so I will close this ticket. I would like to update the documentation for Magellan's WKT behavior and usage pattern.

Thanks for your time.

[2017-10-03 12:48] mdbuck commented on #177
Looks like my understanding of wkt is correct so I will close this ticket. I would like to update the documentation for Magellan's WKT behavior and usage pattern.

Thanks for your time.

[2017-10-03 12:48] #177 closed

[2017-10-03 12:59] mdbuck commented on #180
The driver application is a command line application that starts up Spark with spark.master == local[1]

The data is small: the polygon table contains 5 rows with the largest polygon containing 9 nodes; the point table contains 8 rows.

I have simplified the driver application. Please see attached.

[PolygonDriver2.zip](https://github.com/harsha2010/magellan/files/1352314/PolygonDriver2.zip)

[2017-10-03 15:53] JonMcPherson commented on #149
@harsha2010 That would be ideal.
I would have great interest in this functionality and I imagine it would be very useful for many other use cases as well.
I have ported the above GreinerHormann implementation to Scala so I can use it in a spark UDF as a proof of concept, but it is not be fast enough for my needs.  I would like to avoid UDF's and the need to convert to and from Magellan Polygon typ

[2017-10-05 04:08] khajaasmath786 opened #181 "No Spatial join on indexs when used with left outer join"
Hi,

I am getting below error when trying to use indexs with magellan. here is the code and error. wont this package work with left outer joins?

Exception in thread "main" java.lang.AssertionError: assertion failed: No plan for SpatialJoinHint Map(magellan.index.precision -> 25)
+- Project [polygon#7, metadata#8[road] AS road#296]
   +- Relation[point#5,polyline#6,polygon#7,metadata#8,valid#9,ind

[2017-10-05 04:32] harsha2010 commented on #181
remove the index hint for left outer join as left outer does not use spatial indexes yet
There is a issue open to add indexes to left outer

[2017-10-05 04:32] #181 closed

[2017-10-05 04:47] harsha2010 commented on #178
This is a feature we are working for for 1.0.6
It's targeted mid November

[2017-10-05 12:18] obaidcuet commented on #150
@harsha2010 are you also considering to implement using spatial index while there will be multiple join conditions?

[2017-10-05 12:20] obaidcuet commented on #178
@harsha2010 thanks. This will be great!! Looking forward for the feature.

[2017-10-05 16:01] khajaasmath786 opened #182 "usage of Spatial joins"
Hi,

I am bit confused with the posts on where to use the index factor on the data frames.

1.  while creating dataframe for polygons of GEOJSON files do I need to follow approach of using below method or just adding index.

spark.read.format("magellan")
  .option("magellan.index", "true")
  .option("magellan.index.precision", "25")
  .load(s"$path")

OR
PolygonDataframe.index(30)  after loading t

[2017-10-05 18:21] harsha2010 commented on #182
The simplest way to hint usage of indices is to
A) either create a dataframe using df.index(precision) or
B) directly specify in the join as x.join(y index precision)

In both A and B the index will be created on the fly for the join

[2017-10-05 18:21] #182 closed

[2017-10-05 18:23] mdbuck opened #183 "Support Parsing of MultiPolygon in WKT Format"
Executing ```WKTParser.parseAll("MULTIPOLYGON (((-72.40704336 41.9571927,  -72.4070466 41.95713969, -72.4071366 41.95329372, -72.40790556 41.95300077, -72.40704336 41.9571927)))")``` results in ```java.lang.RuntimeException: Extra(...704336 41.9571927))), [traced - not evaluated])```

Is this a limitation of the parser of project-wide?

Thanks.

[2017-10-05 18:25] harsha2010 commented on #183
WKT parser does not support multipolygons yet
Neither does Shapefile format. Only GeoJSON does right now
It's not prioritized, happy to accept contributions :)

[2017-10-05 18:27] mdbuck commented on #183
I have no problem working on it but just need to know if it's just a parser issue or if support for MultiPolygons is problematic in other areas of the project. I would not want to implement in the WKTParser only to find that more work is needed in other, more "complicated" areas of the project that may take more time to address.

Thanks.

[2017-10-05 18:27] harsha2010 commented on #183
Multipolygons are in general not fully supported in parsing. But once parsed they will be treated as one polygon per row essential flatmapping them. The rest of the processing then is identical

[2017-10-05 18:28] mdbuck commented on #183
Excellent. Thanks!

[2017-10-05 20:55] khajaasmath786 opened #184 "Indexing issue on spatial joins"
I have used below code for creating indexes

     import sqlCont.implicits._
    import org.apache.spark.sql.magellan.dsl.expressions._
    import org.apache.spark.sql.types._
    import magellan.Utils.injectRules;
    val filteredRoadDS=geoFenceWithPointDF.index(30).join(roadsPolygonDS.select("polygon","metadata","metadata.road"),($"point" within $"polygon" )

Error that I am getting is

Exceptio

[2017-10-05 21:04] harsha2010 commented on #184
you should be using Utils.injectRules(sparkSession)
before using indices. I see you importing injectRules but not actually using it

[2017-10-05 21:04] #184 closed

[2017-10-05 21:09] harsha2010 commented on #183
@mdbuck if you are implementing this, it might be good to follow the same approach as GeoJSON where one line of multi polygon results in multiple rows, one per polygon. This might require slightly generalizing the WKT expression. I can help with this, let me know if you'd want a skeleton PR that you can extend

[2017-10-06 11:30] mdbuck commented on #183
Since I do not know what "generalizing the WKT expression" means any help is appreciated :)

[2017-10-06 15:54] harsha2010 commented on #183
@mdbuck fair enough :), will create a PR with some tests and missing pieces for you to add in for this functionality... I should have time to put something together this weekend and will ping you on the PR so you can work off it
Thanks for contributing!

[2017-10-09 21:28] harsha2010 commented on #149
@JonMcPherson since you have already ported the code into Scala, would you like to contribute this feature to Magellan? I can help you orchestrate that code into Magellan so it uses expressions and not spark UDFs

[2017-10-10 02:23] JonMcPherson commented on #149
@harsha2010 I would love to help integrate this feature into Magellan.
I have also been working on porting the [w8r/martinez](https://github.com/w8r/martinez) implementation of the Martinez-Rueda polygon clipping algorithm to Scala because it is more complete than the GreinerHormann algorithm.  It supports more boolean operations and works with more edge cases.  This implementation also has more u

[2017-10-16 11:31] mdbuck commented on #180
Any more news on this?

Thanks.

[2017-10-18 16:50] khajaasmath786 opened #185 "Points falling under multiple polygons - Index 15"
Here is the result dataset that we got after running the program with index 15.

Our polygons are dealer locations in usa and point can be any event occured on the road spread across usa. so we need to check if the

vin,utctime,latitude,longitude,geotext,zoneid,name
1XPBD49X2GD325643,8/1/2017 13:12,38.6915855,-112.150192,"POLYGON ((-104.041 45.027, -111.028 45.027, -111.094 42.0167, -120.015 42.00

[2017-10-19 02:32] harsha2010 commented on #185
@khajaasmath786 can you double check the data?
I checked with ESRI Java API and it returns the same values as Magellan for this dataset.
I think one or more points might have an error in their measurement so its likely the polygons are covering a larger area than expected and in particular intersecting.

[2017-10-19 17:12] #185 closed

[2017-11-16 17:37] codejoy opened #186 "Point having a third coordinate for altitude"
Magellan does not seem to handle 3 points for a point.  (Z point being altitude) am I doing something wrong?  Super simple demo:

`val points = sc.parallelize(Seq((-1.0, -1.0, 0.0), (-1.0, 1.0, 0.0), (1.0, -1.0, 0.0))).toDF("x", "y", "z").select(point($"x", $"y", $"z").as("point"))
`

Also dies when I try to load a geojson file with the same information.

[code]

[2017-11-16 17:41] harsha2010 commented on #186
yes, we don't have support for 3D geometry yet

[2017-12-04 12:17] mithdrann opened #187 "Missing coordinates"
Hi, I'm trying to link the project but the coordinates provided by README.md seem to be missing:

groupId: harsha2010
artifactId: magellan
version: 1.0.5-s_2.11

Could you check it?

[2017-12-05 03:48] CharmLynn commented on #187
which project? plz give the project url

At 2017-12-04 20:17:33, "mithdrann" <notifications@github.com> wrote:

Hi, I'm trying to link the project but the coordinates provided by README.md seem to be missing:

groupId: harsha2010
artifactId: magellan
version: 1.0.5-s_2.11

Could you check it?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it

[2017-12-05 09:42] mithdrann commented on #187
Hi, maybe I didn't explain myself in a proper way. I mean, I cannot link against the latest release of Magellan (https://github.com/harsha2010/magellan) using the coordinates within README.md

[2017-12-05 10:08] mithdrann commented on #187
Solved. As stated in issue #103, Magellan is not available as a maven package yet,  only as a spark package. Adding the following repository to the pom.xml solves the problem.

<repository>
    <id>SparkPackagesRepo</id>
    <url>http://dl.bintray.com/spark-packages/maven</url>
 </repository>

[2017-12-12 10:21] DeRooBert opened #188 "line intersect error: an implementation is missing"
Hi, I'm trying to find if two lines intersect but it gives the following error:  scala.NotImplementedError: an implementation is missing

This is a short code that reproduce the error I'm getting
import magellan.{Point, Polygon, Line}
import org.apache.spark.sql.magellan.dsl.expressions._
import org.apache.spark.sql.types._
case class fence(line:magellan.Line, Fencename:String)
val CP = fence(Line

[2017-12-17 19:24] Charmatzis commented on #188
Yes, this implementation is missing in this version. Stay tune for the next release.

[2017-12-19 19:15] geoHeil commented on #183
@harsha2010 is there some progress regarding this issue?

[2018-01-10 14:00] romulogoncalves commented on #186
It would be great to support 3D points at least because we could load LiDAR data sets (PointClouds) which are composed of billion of points. It would be a great show case for Magellan. We have data sets with 640 billion points and soon larger than that.

[2018-01-11 16:34] romulogoncalves opened #189 "K-Nearest Neighbor (kNN) Functionality"
Is there plans to support K-Nearest Neighbor (kNN) Functionality?

[2018-01-11 16:51] romulogoncalves opened #190 "Indices for points: Quad-tree or kd-tree"
Is there plans to have an index for a DataFrame (DF) with points?

We have a DF with 640 billion and another DF with few thousands of polygons. We know it is possible to index the Polygon's DF. But not the DF with points.

Why it would be handy? Well, we need to check to which polygon each point belongs, i.e., run contains. Such type  of Spatial query is defined by a filtering and refinement step.

[2018-01-11 17:31] geoHeil commented on #190
you can use a buffer i.e. and create a small polygon around each point.

Romulo Goncalves <notifications@github.com> schrieb am Do., 11. Jan. 2018
um 17:51 Uhr:

[2018-01-15 11:16] romulogoncalves commented on #190
@geoHeil

Thanks, that's more or less what I intended to say with "grid all points and use the grid cells to speedup the filtering step", maybe I did not use the correct terms and I didn't formulate it properly. Since the points are uniformly distributed (10 to 16 per square meter), except on regions with water, as you said, that should do the job for now.  Of course we will index the buffers.

Ne

[2018-01-23 00:32] jim2 opened #193 "View base32 index values in the dataframe?"
Hi - is there a way to view the base32 geohash values in the dataframe?

In my index column I see "[[ZOrderCurve(-71.3671875, 44.296875, -71.015625, 44.47265625, 20, 7347376501450342400, 01100101111101110010),Intersects], [ZOrderCurve(-71..."

But I would like to be able to output the geohash values that make up the geometry. (i.e. "dqcj" for geohash 4)  Is that possible?

Thanks!
Jim

scala> stat

[2018-01-25 15:11] #193 closed

[2018-01-25 15:11] jim2 commented on #193
solved this using base32 function

[2018-01-25 22:04] sandeepjakkaraju opened #194 "How to write a GeoNear Query?"
Hi All

I am trying to implement a GeoNear MongoDB query with Magellan.

https://docs.mongodb.com/manual/reference/command/geoNear/

Any help is appreciated.

[2018-02-12 18:09] roblovelock commented on #183
I have created a pull request. It isn't exactly what was discussed above, but you may find it useful until a full solution working the same as GeoJson is implemented.

https://github.com/harsha2010/magellan/pull/195

[2018-03-06 12:45] Perados opened #199 "How to read gzipped geojson?"
The only way I found so far is to gunzip the file "on the fly" and then read it. Is there an easier way?

[2018-03-06 16:18] harsha2010 commented on #199
@Perados , we don't support gzipped geojson yet. I am creating a PR to fix this

[2018-03-06 19:04] #199 closed

[2018-03-07 03:30] harsha2010 commented on #190
@romuloconcalves , thanks I am indeed looking at creating secondary indices ... there have been similar work in secondary indices for graph frames etc and I am evaluating a good clean strategy here.. i’ll update this thread with some thoughts soon. In meanwhile if you have any design /API in mind do let me know. Always happy to accept contributions!

[2018-03-07 03:33] #175 closed

[2018-03-12 14:25] zebehringer opened #203 "Magellan "index" column in parquet not reused for joins"
I wanted to pre-generate the index for a very large set of polygons (loaded from Shapefile) and store as parquet so that I can reuse it in frequent production processes, but it seems that the ZOrderCurve type column named "index" is ignored when joining the parquet data with a list of points.

[code]

Here's the plan:
[code]

[2018-03-12 20:51] harsha2010 commented on #203
@zebehringer can you give this PR a try? The issue I think is that the nullability column is reset when Spark SQL writes to Parquet.. and when we read back this causes us to mismatch the schema with what we expect

[2018-03-13 21:06] Tagar opened #205 "PySpark examples"
That's an awesome product.
Was great to see presentation last week on Strata Data Conference.

Could you please point me to some PySpark examples using Magellan?
Thank you !

[2018-03-16 01:03] #203 closed

[2018-03-16 02:39] #187 closed

[2018-03-16 16:18] harsha2010 opened #208 "Better Spatial Join Implementation for Magellan"
The ZOrderCurve Index computed by Magellan today subdivides space into equal sized grids of a given precision.
This can easily be changed to compute curves of a precision between min, max (or other requirements like I want atmost n curves taken together to contain the geometry)
The advantage of doing this is that the index is easy to compute and fits into memory on a single node more easily.
The d

[2018-03-16 16:21] harsha2010 opened #209 "Documentation"
Magellan needs documentation that is beginner friendly yet thorough with some details on the implementation as well so developers can start contributing to it.
We also need a developer page

[2018-03-16 16:23] harsha2010 opened #210 "Python API for Magellan"
The Python API was broken after 1.0.4 release (incompatibility with Spark SQL after Spark 1.5) and we haven't fixed it yet.

[2018-03-16 16:24] harsha2010 opened #211 "SQL Front End for Magellan"
It is fairly easy to expose a SQL Front End to Magellan.
We should support all the PostGIS geospatial extensions to SQL (the read side)

[2018-03-16 17:08] harsha2010 commented on #205
@Tagar the Python API will be available once #210 is done. It was broken in 1.0.5 due to some Spark 1.6+ incompatibilities which need to be resolved

[2018-03-16 17:08] #205 closed

[2018-03-16 17:15] Tagar commented on #205
Good to know. Thanks @harsha2010

[2018-03-16 21:04] tomplex commented on #59
I would be very interested in Python3 / Spark2.3 compatibility.

[2018-03-16 21:06] tomplex commented on #210
Just commenting as someone who would very much like to use Magellan & PySpark for some of my geoprocessing needs.

[2018-03-16 21:12] harsha2010 commented on #59
@tomplex , thanks! I'm working on the Python API for the next release. #210
Spark 2.3 requires a few changes in Magellan so might cut a separate release for Spark 2.3+ and Spark 2.2 and prior . Will keep you posted!

[2018-03-16 21:12] #59 closed

[2018-04-02 22:05] lamastex opened #212 "README error?"
Hi Ram,

In README, do you mean:

`points.join(polygons).where($"polygon" >? $"point").show()`

by

`points.join(polygons).where($"polygon" >? $"polygon").show()`

Raaz

[2018-04-02 22:32] sawyercade commented on #210
+1

[2018-04-03 09:11] Perados commented on #199
@harsha2010 Sorry for the delay. I just tested it.
It works like a charm. Thank you very much!

[2018-04-04 18:09] NJordan72 opened #213 "Support Spark 2.3"
Currently Spark doesn't work with Spark 2.3.

[2018-04-16 19:27] #180 closed

[2018-04-23 10:53] carloseduardotoledo commented on #210
+1

[2018-05-09 14:59] ganeshharugeri commented on #153
Harsha, Any solution to this issue?

[2018-05-11 15:15] mfioriti opened #214 "Caused by: scala.NotImplementedError: an implementation is missing"
I am attempting to read in an ESRI standard shape file with this code:  val test = spark.sqlContext.read.format("magellan").load("path")

Caused by: scala.NotImplementedError: an implementation is missing
  at scala.Predef$.$qmark$qmark$qmark(Predef.scala:230)
  at magellan.mapreduce.DBReader$$anonfun$extractKeyValue$2.apply(DBReader.scala:89)
  at magellan.mapreduce.DBReader$$anonfun$extractKeyVa

[2018-05-11 19:10] #214 closed

[2018-05-14 14:53] laurikoobas opened #215 "From spark dataframe to Polygon ?"
How is that supposed to work? For Points there's the point($"x", $"y") way, but how to do the same thing with Polygons?

I have a spark dataframe that has an array of Points in one column and I'd like to turn that into a dataframe that has Polygons in a column that are based on those arrays of Points.

[2018-05-14 15:06] #215 closed

[2018-05-14 18:35] laurikoobas commented on #215
Right, that makes sense. And I apologize for keeping posting in this issue, but I don't know of a better avenue for asking for help on this.

I have this:
[code]
And do this:
[code]
And the result was this (after a few pages of stack trace):
`scala.collection.mutable.WrappedArray$ofRef cannot be cast to [Lmagellan.Point`

[2018-05-15 07:37] laurikoobas commented on #215
I figured it out after a while. The UDF should be this:
`val toPolygon = udf{(points: Seq[Point]) => Polygon(Array(0), points.toArray)}`

[2018-05-17 16:47] milanvdm commented on #213
Same issue here.
We are getting `java.lang.NoSuchMethodError: org.apache.spark.sql.catalyst.expressions.codegen.CodegenContext.addMutableState(Ljava/lang/String;Ljava/lang/String;Ljava/lang/String;)` when using

[code]

[2018-05-18 19:33] felixsg opened #216 "Upgrade Guava dependency"
Guava has a breaking change from 14.0.1 to 15+ in the constructor of the StopWatch class. Since newer versions of Guava are used in several Hadoop libraries, this causes library conflicts. It would be desirable to update the code to Guava 15+

[2018-05-19 04:52] geoHeil commented on #216
Why not use shading?
Felix Sanchez Garcia <notifications@github.com> schrieb am Fr. 18. Mai 2018
um 21:33:

[2018-05-24 12:45] sthathagit opened #218 "Issue with indexing"
Trying to use index functionality but some reason it hangs and job does not finishes.
Spark - 2.1.1
Scala - 2.11.8
Magellan - 1.0.5

Data Sets are very small about 100 records in both points and polygons data sets. Followed the documentation and enabled index and set the rule as per documentation. Tried to decrease the index down to 5 still same issue.

Without index it does work but we really nee

[2018-06-09 17:38] kuanb commented on #210
+1

[2018-06-10 06:14] pinireisman commented on #210
+1

[2018-06-10 06:44] pinireisman opened #219 "Support for distance join between points"
For parallelizing clustering algorithms at scale, it would be very useful to have an optimized join query between sets of points to find pairs of points that are within distance X from one another  (similar to the Distance Join in the GeoSpark-SQL project)

One can achieve that by building polygons around one set of points and then using the "point within polygon" query, but this seems wasteful.

[2018-06-11 09:03] sthathagit commented on #218
I was trying to apply indexes for UTM shape file but author mentioned that indexing only works for WSG coordinates as of now so closing this issue.

[2018-06-11 09:03] #218 closed

[2018-06-11 15:27] laurikoobas opened #220 "How to debug index usage crashes?"
My code was successfully running with 350 million points and 300 polygons.
Now the number of polygons went up to 450 and it started crashing. I did some tests and it still crashes with 10 points (not 10 million, just 10) and those 450 polygons. It's still fine if I limit the number of polygons to 300 though.

Right now I just disabled the index use, but I'd like to get to the root of the issue. Co

[2018-06-12 16:55] ehsanhaq opened #222 "Guava dependency issue"
I am trying to use magellan in my project which require guava 20. Magellan is using guava 14.0.1. Specifically I am having the following exception.

java.lang.IllegalAccessError: tried to access method com.google.common.base.Stopwatch.()V from class magellan.mapreduce.ShapeInputFormat
at magellan.mapreduce.ShapeInputFormat.computeSplits(ShapeInputFormat.scala:50)
at magellan.mapreduce.ShapeInputFo

[2018-06-20 12:18] NJordan72 commented on #213
@harsha2010 You mentioned in Gitter that you had a PR that would enable Spark 2.3 support.  Is that something you can push?  I've done some work to try to get it to work, but there is at least one test failing based on my branch.  Happy to push that here as well if that is easier to work off of.

[2018-06-20 15:46] bdgeise opened #224 "Broadcast Timeout on Ontario GeoJson boundary"
Using the attached geojson boundary for Ontario there was an error for a broadcast timeout when trying to run against about ~1b points.  The points data set is parquet.

```Final app status: FAILED, exitCode: 15, (reason: User class threw exception: org.apache.spark.sql.catalyst.errors.package$TreeNodeException: execute, tree: Exchange SinglePartition```

Also this seemed to result in a broadcast

[2018-07-04 19:56] geoHeil commented on #213
On HDP 2.6.4 spark 2.2 I get `java.lang.NoSuchMethodError: org.apache.spark.sql.catalyst.expressions.codegen.CodegenContext.addMutableState(Ljava/lang/String;Ljava/lang/String;Ljava/lang/String;)V` This looks pretty familiar to https://github.com/typelevel/frameless/issues/262 Are there any news regarding 2.3 support?

[2018-07-05 03:50] geoHeil opened #226 "WKT parser problem"
the WKT parser fails with `Caused by: java.lang.RuntimeException: Extra(... 48.3118488844536))), [traced - not evaluated])`
however, regular JTS parser seems to work fine.

[2018-07-05 04:03] harsha2010 commented on #226
can you attach an example where the parser fails?

[2018-07-05 11:35] geoHeil commented on #226
I have contacted you with an example

[2018-07-06 23:07] NJordan72 commented on #213
Closed

[2018-07-06 23:07] #213 closed

[2018-07-07 19:55] harsha2010 commented on #226
@geoHeil looks like this is because of extra quotes "" .. you can strip the extra quotes before passing it to Magellan via StringEscapeUtils.unescapeCsv(line) or stripPrefix/stripSuffix

[2018-07-07 22:25] harsha2010 commented on #226
spark.read.parquet("...")
.filter(! ($"indoor_geo" contains "MULTIPOLYGON"))
.withColumn("polygon", wkt($"indoor_geo")("polygon")).collect()

Looks like this file has a mix of polygon and multi polygon. We don't yet support multi polygons. Thats why this is failing I think

[2018-07-08 04:47] #226 closed

[2018-07-08 14:47] harsha2010 commented on #220
@laurikoobas how big a cluster are you using? and what is the node configuration?
if you can share the polygon dataset it would be easier to debug this.. otherwise one thing you can do is collect a heap dump during the execution and send it over

[2018-07-08 15:13] laurikoobas commented on #220
Running it as an AWS Glue Job on 40 DPUs. It makes sense that the polygon dataset is the cause of this, but I can't share it. What would be something in the polygons that would make the index use an issue though?

[2018-07-08 15:19] harsha2010 commented on #220
I'm not familiar with Glue, but I think the amount of memory you need for these polygons might be tipping you over the 5GB limit you have set for the YARN job... what index precision are you using?

[2018-07-08 15:40] laurikoobas commented on #220
Used just the 30 that's in the example. Do you have guidelines or documentation on what it means and which values make sense for which use cases?

[2018-07-08 16:36] harsha2010 commented on #220
You want to pick a precision that can eliminate a large fraction of polygons..eg if your polygons are US states and you pick say precision of 10/15 each polygon roughly falls into O(1) grids at that precision

If you pick precision 30 that still holds true but we not spend more time computing the grids that overlap with the polygon and more space storing those grids since there will be a lot more

[2018-07-08 16:37] harsha2010 commented on #220
precision is nothing but the geohash precision  https://gis.stackexchange.com/questions/115280/what-is-the-precision-of-a-geohash

instead of characters, we are using the bit size (so to convert to geohash character length simply divide by 5). eg, precision of 35 = 7 character geohash

[2018-07-17 17:55] siliconcat opened #228 "Snapshots available?"
Hi,

I am interested in the 1.0.6-SNAPSHOT, because it has support for Spark 2.3. Is it available in any maven snapshots repository?

Thanks!

[2018-07-18 10:15] NJordan72 commented on #228
You should be able to use jitpack

https://jitpack.io/#harsha2010/magellan

[2018-07-19 16:16] mndrake commented on #210
+1

[2018-08-14 22:02] stemill commented on #210
+1

[2018-09-02 08:46] djpirra opened #229 "Problem while converting coordinates to point in Spark 2.3.1 and Scala 2.11"
Using this code in DF:

`.withColumn("pickup_point", point($"pickup_longitude",$"pickup_latitude"))`

I am having this exception:
`NoSuchMethodException: java.lang.NoSuchMethodError: org.apache.spark.sql.catalyst.expressions.codegen.CodegenContext.addMutableState(Ljava/lang/String;Ljava/lang/String;Ljava/lang/String;)V
	at org.apache.spark.sql.types.PointConverter.doGenCode(PointConverter.scala:43

[2018-09-03 07:41] djpirra commented on #229
This is fixed. Needed to compile with SBT and use the latest version.

[2018-09-03 07:41] #229 closed, assigned to nobody

[2018-09-03 07:43] djpirra opened #230 "Cannot perform join between points and polygon using Scala 2.11 and Spark 2.3.1"
Currently trying to join to dataframes with the following command:

`val df_green_pickup = green_data.join(neighborhoods).where($"pickup_point" within $"polygon")
display(df_green_pickup)`

Having the following exception:

`SparkException: Job aborted due to stage failure: Task 0 in stage 44.0 failed 4 times, most recent failure: Lost task 0.3 in stage 44.0 (TID 875, 10.139.64.11, executor 10): ja

[2018-09-19 11:44] lmerchante commented on #230
Similar error with same versions in test code:

[code]
This is the trace:

[code]

[2018-09-19 13:29] Perados commented on #230
@djpirra and @lmerchante `Magellan 1.0.5` is not compatible with `Spark 2.3.1`. You have to wait until the next release or compile from source, since the master branch is already compatible with Spark 2.3.1. I tested it last week and it works just fine.

[2018-09-20 05:09] djpirra commented on #230
It does not work with full compatibility. I have compiled from master and
was able to read the points and polygons, but it didn’t worked when I try
to intersect them...
Something is still not working right.

Em qua, 19 de set de 2018 às 17:29, Diego Mora Cespedes <
notifications@github.com> escreveu:

--
Melhores Cumprimentos,
Luis Simões

[2018-09-20 14:18] emartgu commented on #230
I have the same problem as @djpirra.

[2018-09-20 17:07] Perados commented on #230
@djpirra I see a `display` there, I guess you are using Databricks, Zeppelin or something like that? Can you test the master branch on a traditional Spark shell for example?
I tested the master branch again today, all the main features work (read files, join points and polygons, etc...) in Spark 2.3.1. I am even planning on deploying it to production soon, we cannot wait for the official release.

[2018-10-14 13:37] alsobay commented on #210
+1

@harsha2010, how can we help move this along? How is 1.0.6 looking at the moment? What would the roadmap for a python fix look like, if a group of us were to work on it?

[2018-10-22 20:07] ziedbouf commented on #229
Hello @djpirra  i compiled everything from master branch but i still gets similar problem, could you share more details and if any specific configurations needed.

[2018-10-25 18:35] joinudit opened #231 "Cannot imort magellan.coord.NAD83"
Include package in spark using: ./spark-shell --packages harsha2010:magellan:1.0.5-s_2.11

Try: import magellan.coord.NAD83

Error: object coord is not a member of package magellan

[2018-11-05 17:41] seanlindo commented on #229
I have compiled from the master branch and tagged it as 1.06. Does not work any longer (Databricks). Given the repetitive comments, I think this is an actual issue.

[2018-11-05 17:47] seanlindo opened #232 "What does this work with?"
At some point, I was able to manipulate enough levers to get this working with Spark 2.3.1 on Databricks. I'm not sure what's changed over the past month, but I'm getting the common `NoSuchMethodError` again.

Between the different versions of Spark, Scala, and Magellan 1.05 vs. 1.06, what combination actually works so we can get it documented?

[2018-11-05 17:52] harsha2010 commented on #232
Ok. Databricks Spark is actually different from Apache Spark. Apache Spark 2.3.1 has been tested but not all the Databricks Runtime versions.
It's going to be hard to support all DBR versions as they are not binary compatible with Apache Spark. The best we can do is support Apache Spark releases at some cadence and try and support the latest DBR LTS version. Would that work?

[2018-11-05 17:55] seanlindo commented on #232
Alright, I'll try setting up and running my own Spark cluster. Thanks.

[2018-11-05 17:57] harsha2010 commented on #232
Try using Apache Spark 2.3.1 on EMR. If you run into issues there, then we can look into it.
Also 1.0.5 works with Spark 2.1 and 2.2 so if you are using 2.3, then use the master branch

[2018-11-05 18:06] seanlindo commented on #232
Sounds good. I'll report back.

[2018-11-05 19:33] seanlindo commented on #232
I can confirm this with with the following [Docker Container](https://github.com/dylanmei/docker-zeppelin) running Spark 2.2.0. The issue must lie somewhere with the Databricks Runtime. Thanks.

[2018-11-05 19:33] #232 closed, assigned to nobody

[2018-11-08 15:56] adatisjose commented on #230
Is there any updates on this problem? I have been trying to run some geospatial analysis in Databricks but have been finding all sorts of blockers. Tried to run in Apache Spark 2.3.1 with Scala 2.11, Apache Spark 2.3.0 with Scala 2.11 and Apache Spark 2.2.1 with Scala 2.11. I imported from Maven Coordinate the libraries 1.0.1, 1.0.3, 1.0.4 and 1.0.5 and none of them worked.

[2018-11-14 11:34] IsamAljawarneh commented on #193
Hi jim2,
can you mention how could you use base32 function to solve this problem.
i am also interested in the same scenario.
Thanks a lot.

[2018-11-15 10:31] agalst commented on #230
The same for me compiling the master branch and using it on Azure Databricks.

[2018-11-16 10:59] IsamAljawarneh opened #234 "obtaining a list of geohashes representing neighborhoods zones"
Hi Ram,
very interesting project.
so, i have a DF with neighborhoods represented as ZCurves in index column:

var index1 = neighborhoods.withColumn("index", $"polygon" index 30)
how to obtain the list of geohashes that represent each zone instead.
same issue as mentioned here:
https://github.com/harsha2010/magellan/issues/193
he said he could solve it using the toBase32 function but he did not men

[2018-11-18 18:10] FioriniRiccardo commented on #193
Hello jim2,
I am interested in your solution too. I would be grateful if you could post it.
Thanks in advance!

[2018-11-18 18:22] harsha2010 commented on #234
hey!
A ZOrderCurve has a function called .toBase32() that returns the geo hash string (which is nothing but a base 32 encoded string).
So all you'd need to do is write a UDF that does something like
geohashUDF = udf{(curve: Seq[ZOrderCurve]) => curve.map(_.toBase32())} and use it as:
df.withColumn("geohashes", geohashUDF($"index.curve"))

I haven't tested the above syntax but morally it should do

[2018-11-18 18:23] harsha2010 commented on #193
hey!
A ZOrderCurve has a function called .toBase32() that returns the geo hash string (which is nothing but a base 32 encoded string).
So all you'd need to do is write a UDF that does something like
geohashUDF = udf{(curve: Seq[ZOrderCurve]) => curve.map(_.toBase32())} and use it as:
df.withColumn("geohashes", geohashUDF($"index.curve"))

I haven't tested the above syntax but morally it should do

[2018-11-18 18:30] IsamAljawarneh commented on #234
Thanks Ram.
i will test it as soon as possible and let you know.

[2018-11-19 09:11] FioriniRiccardo commented on #193
Thanks a lot! I will test it!

[2018-11-26 16:49] maziyarpanahi commented on #230
Is this because of the way we compile the master or is there something in our notebooks that prevents the success? (Zeppelin 0.8.0)

Update: I just tested the with master branch and Spark 2.3.2 shell and the moment I get to `points.join(polygons).where($"polygon" >? $"polygon").show()` part of examples I get the same error:
[code]
I can see this `variable spark.sql.crossJoin.enabled=true;` is alre

[2018-11-29 19:32] jjcarbs commented on #230
I was able to get this working in a Databricks notebook environment using the 5.0 Runtime (Spark 2.4.0, Scala 2.11).  You will need to change the sparkVersion in build.sbt to 2.4.0 from 2.3.1

[2018-12-04 15:36] syarram commented on #178
@harsha2010 Is this feature included in latest version?

[2019-02-05 15:20] OmkarNeogi opened #235 "Next Release"
I need to use a functionality which is part of the current master but is not a part of the latest release (More specifically, read shapefiles (Polygons and Points) and convert them to GeoJson). I am referring to the asGeoJSON (/src/main/scala/magellan/dsl/package.scala) method for this purpose.

Could you please share when the next release is going to be made?

[2019-02-06 20:22] gadgetman4u opened #236 "How to run the NYC Taxicab analysis notebook with Azure DataBricks"
I would like to run the NYC Taxicab analysis notebook with Azure Databricks but the data is in S3.  How do I save the data into Azure?  Would I save to Azure Data Lake Store and then mount it to Databricks?

Thanks.

[2019-02-06 21:33] gadgetman4u commented on #236
I already saved the neighborhoods.geojson file into Azure Data Lake Store and placed the path to it in the dbutils.fs.mount.  How do I extract the neighborhoods and trips as per the code here?

val trips = sqlContext.read
      .format("com.databricks.spark.csv")
      .option("comment", "V")
      .option("mode", "DROPMALFORMED")
      .schema(schema)
      .load("/mnt/nyctaxicabanalysis/trips/*"

[2019-02-11 16:00] gadgetman4u commented on #236
Does anybody know how I can upload the data into Azure so I can extract the neighborhoods and trips?

[2019-02-13 14:26] guiferviz commented on #236
I found this today that may be interesting for you. I'm not the author: https://lamastex.github.io/scalable-data-science/sds/2/2/db/032_NYtaxisInMagellan.html
It only works for me using the Databricks runtime with Spark 2.1.1.

[2019-02-22 16:29] josemarfdc commented on #235
Also interested on this

[2019-03-04 15:54] bdgeise opened #237 "Point not found when injectRules used"
[code]

Using the example above, if I just ```injectRules``` I get 0 results. But if I don't use ```injectRules``` I get the proper results.

Also, to note, I've tried different levels of precision in the index but the same issue persisted when injecting the rules.

Geojson file used for testing attached.
[TX.geojson.txt](https://github.com/harsha2010/magellan/files/2927079/TX.geojson.txt)

[2019-03-18 20:33] bdgeise commented on #237
@harsha2010 - Any luck looking at this one?

[2019-03-19 12:31] bdgeise commented on #237
I was able to do some more testing/debugging today.  If I do a true cross join, and test for point within polygon using a withColumn, it returns true.  However when I do it in the where I still get an empty dataframe in return while using inject rules. @harsha2010

[2019-03-19 20:25] bdgeise commented on #237
Another update here...Seems to work ok with the master branch and Spark 2.3.2.  Are you aware of any changes since the 1.05 release that I might be able to look at and test against? @harsha2010

[2019-03-19 20:45] harsha2010 commented on #237
@bdgeise there is this bug I noticed and fixed a while back.. https://github.com/harsha2010/magellan/commit/aa9021eec14ccbdab4c90316ff9a7bf129873f8e

not sure if that is related. let me try this on 1.0.5 branch and check today

[2019-05-28 03:00] khajaasmath786 commented on #230
I get the similar error. any resolutions please?

Stoping Spark Session Explicitly
Exception in thread "main" java.lang.NoSuchMethodError: org.apache.spark.sql.catalyst.expressions.codegen.CodegenContext.addMutableState(Ljava/lang/String;Ljava/lang/String;Ljava/lang/String;)V
	at org.apache.spark.sql.types.WKT.doGenCode(WKT.scala:30)
	at org.apache.spark.sql.catalyst.expressions.Expression$$anonfu

[2019-06-06 15:22] matejt commented on #210
@harsha2010, any update on this issue? Thanks.

[2019-06-11 07:59] pinireisman commented on #210
+1

@harsha2010 - It would be awesome if there was pyspark support!

[2019-06-11 17:15] khajaasmath786 opened #239 "Issue with checking point within polygon"
I am getting below error when checking if point falls within polygon. Here is the error.

org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 3.0 failed 1 times, most recent failure: Lost task 0.0 in stage 3.0 (TID 3, localhost, executor driver): java.lang.RuntimeException: Extra(...99 47.0634893610001), [traced - not evaluated])
	at magellan.WKTParser$.parseAll(WKTP

[2019-09-13 12:18] apiszcz opened #240 "Magellan on DataBricks Community Edition?"
Are there any plans for DataBricks Community Edition to add Magellan?
Thank you.

[2019-09-13 13:42] apiszcz commented on #240
I installed the Spark package on the Community edition, still having issues on import even after restart.
![image](https://user-images.githubusercontent.com/1430861/64867173-d6024200-d60a-11e9-8c3c-528ce390553d.png)

[2019-09-13 13:54] apiszcz commented on #240
import package as spark, maven repo. all good. continuing with your tutorial

[2019-09-13 13:54] #240 closed, assigned to nobody

[2019-09-13 14:04] apiszcz opened #241 "Tutorial Issue finding 'point'"
Following this tutorial https://magellan.ghost.io/magellan-geospatial-processing-made-easy/

I see this error

**```
command-3454590236003018:9: error: not found: value point
     point($"pickup_longitude",$"pickup_latitude"))
[code]

[2019-09-13 14:45] apiszcz commented on #241
This example works correctly

[code]

[2019-09-13 15:51] apiszcz commented on #241
This resolved the issue

import magellan._
import org.apache.spark.sql.magellan.dsl.expressions._

import org.apache.spark.sql.Row
import org.apache.spark.sql.functions._
import org.apache.spark.sql.types._

[2019-09-13 15:51] #241 closed, assigned to nobody

[2019-10-05 22:47] rahulbsw opened #243 "Add Support for Spark 2.4.3 and above"
Add Support for Spark 2.4.3 and above #242

[2019-11-19 08:23] lblanche commented on #210
+1

[2021-03-16 21:25] #49 closed

[2021-03-16 21:25] #48 closed

[2021-07-06 19:56] JDface opened #244 "Python Support"
Hello:

Can you please let me know how soon there will be Python Support??

Thanks